body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u26 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:788px;
}
#u29 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:640px;
}
#u31 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:204px;
  top:842px;
  width:168px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u38 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:56px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40 {
  position:absolute;
  left:108px;
  top:180px;
  width:40px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:108px;
  top:172px;
  width:104px;
  height:56px;
}
#u42_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42.mouseDown {
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:center;
}
#u44 {
  position:absolute;
  left:214px;
  top:425px;
  width:145px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u46 {
  position:absolute;
  left:264px;
  top:489px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:366px;
  top:424px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:8px;
  height:11px;
}
#u48_seg1 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:202px;
  height:8px;
}
#u48_seg2 {
  position:absolute;
  left:190px;
  top:-11px;
  width:8px;
  height:15px;
}
#u48_seg3 {
  position:absolute;
  left:190px;
  top:-4px;
  width:24px;
  height:8px;
}
#u48_seg4 {
  position:absolute;
  left:206px;
  top:-14px;
  width:8px;
  height:18px;
}
#u48_seg5 {
  position:absolute;
  left:200px;
  top:-23px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:62px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51 {
  position:absolute;
  left:204px;
  top:422px;
  width:164px;
  height:58px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:58px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u52 {
  position:absolute;
  left:360px;
  top:418px;
  width:12px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u53 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 1);
  font-size:12px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:362px;
  top:420px;
  width:8px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u57 {
  position:absolute;
  left:575px;
  top:403px;
  width:252px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u58 {
  position:absolute;
  left:5px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u59 {
  position:absolute;
  left:575px;
  top:403px;
  width:2px;
  height:14px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:313px;
  top:497px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:251px;
  height:8px;
}
#u61_seg1 {
  position:absolute;
  left:243px;
  top:-4px;
  width:8px;
  height:31px;
}
#u61_seg2 {
  position:absolute;
  left:243px;
  top:19px;
  width:24px;
  height:8px;
}
#u61_seg3 {
  position:absolute;
  left:259px;
  top:-8px;
  width:8px;
  height:35px;
}
#u61_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u61_seg5 {
  position:absolute;
  left:253px;
  top:-17px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:575px;
  top:482px;
  width:123px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65 {
  position:absolute;
  left:5px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u66 {
  position:absolute;
  left:575px;
  top:482px;
  width:2px;
  height:14px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
