body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:265px;
}
#u2078 {
  position:absolute;
  left:183px;
  top:118px;
  width:1019px;
  height:264px;
  font-size:20px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:120px;
  width:1015px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2080 {
  position:absolute;
  left:183px;
  top:427px;
  width:300px;
  height:170px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2082 {
  position:absolute;
  left:543px;
  top:427px;
  width:300px;
  height:170px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2084 {
  position:absolute;
  left:902px;
  top:427px;
  width:300px;
  height:170px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2086 {
  position:absolute;
  left:183px;
  top:642px;
  width:300px;
  height:170px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2088 {
  position:absolute;
  left:543px;
  top:642px;
  width:300px;
  height:170px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2090 {
  position:absolute;
  left:902px;
  top:642px;
  width:300px;
  height:170px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
