body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:237px;
  top:7px;
  width:375px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:267px;
  top:108px;
  width:321px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:816px;
  top:138px;
  width:74px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:266px;
  top:134px;
  width:321px;
  height:480px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:480px;
}
#u7 {
  position:absolute;
  left:2px;
  top:232px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:271px;
  top:179px;
  width:315px;
  height:54px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
}
#u9 {
  position:absolute;
  left:2px;
  top:19px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:292px;
  top:507px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:292px;
  top:190px;
  width:45px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:458px;
  top:190px;
  width:106px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:269px;
  top:238px;
  width:315px;
  height:250px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:250px;
}
#u17 {
  position:absolute;
  left:2px;
  top:117px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:370px;
  top:252px;
  width:10px;
  height:241px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:224px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:241px;
}
#u19 {
  position:absolute;
  left:311px;
  top:378px;
  width:10px;
  height:28px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u20 {
  position:absolute;
  left:269px;
  top:299px;
  width:318px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u21 {
  position:absolute;
  left:269px;
  top:359px;
  width:318px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u22 {
  position:absolute;
  left:481px;
  top:252px;
  width:10px;
  height:241px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:224px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:241px;
}
#u23 {
  position:absolute;
  left:273px;
  top:420px;
  width:318px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:318px;
  height:1px;
}
#u24 {
  position:absolute;
  left:307px;
  top:259px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:419px;
  top:258px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:532px;
  top:258px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:307px;
  top:318px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:419px;
  top:318px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:532px;
  top:318px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:311px;
  top:379px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:419px;
  top:379px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:532px;
  top:378px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:311px;
  top:431px;
  width:12px;
  height:46px;
  font-size:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:46px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:419px;
  top:445px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:518px;
  top:446px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:267px;
  top:557px;
  width:318px;
  height:54px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:54px;
}
#u49 {
  position:absolute;
  left:2px;
  top:19px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:279px;
  top:591px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:279px;
  top:570px;
  width:21px;
  height:21px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:367px;
  top:593px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:371px;
  top:570px;
  width:21px;
  height:21px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:462px;
  top:593px;
  width:38px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:467px;
  top:571px;
  width:21px;
  height:21px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:545px;
  top:593px;
  width:62px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:545px;
  top:570px;
  width:21px;
  height:21px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:266px;
  top:134px;
  width:321px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:670px;
  top:98px;
  width:320px;
  height:216px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u69 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:766px;
  top:232px;
  width:128px;
  height:16px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:802px;
  top:114px;
  width:55px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:670px;
  top:145px;
  width:320px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u75 {
  position:absolute;
  left:704px;
  top:273px;
  width:120px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:854px;
  top:273px;
  width:120px;
  height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:797px;
  top:162px;
  width:60px;
  height:60px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
