body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:585px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:10px;
  width:375px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:239px;
  top:109px;
  width:321px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:135px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:375px;
  top:140px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:247px;
  top:137px;
  width:44px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:239px;
  top:170px;
  width:321px;
  height:460px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:460px;
}
#u11 {
  position:absolute;
  left:2px;
  top:222px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:242px;
  top:176px;
  width:315px;
  height:74px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:74px;
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:254px;
  top:182px;
  width:44px;
  height:41px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:303px;
  top:186px;
  width:66px;
  height:20px;
  color:#000000;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:540px;
  top:200px;
  width:12px;
  height:22px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:456px;
  top:189px;
  width:66px;
  height:20px;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:309px;
  top:216px;
  width:216px;
  height:20px;
  font-size:22px;
  color:#000000;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:212px;
  word-wrap:break-word;
}
