body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u0 {
  position:absolute;
  left:545px;
  top:129px;
  width:200px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2 {
  position:absolute;
  left:409px;
  top:346px;
  width:200px;
  height:200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u4 {
  position:absolute;
  left:170px;
  top:127px;
  width:161px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6 {
  position:absolute;
  left:678px;
  top:346px;
  width:200px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:72px;
  width:196px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:597px;
  top:238px;
  width:98px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:430px;
  top:455px;
  width:156px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:646px;
  top:263px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:137px;
}
#u12_seg1 {
  position:absolute;
  left:-4px;
  top:129px;
  width:104px;
  height:8px;
}
#u12_seg2 {
  position:absolute;
  left:92px;
  top:129px;
  width:8px;
  height:64px;
}
#u12_seg3 {
  position:absolute;
  left:87px;
  top:181px;
  width:18px;
  height:18px;
}
#u13 {
  position:absolute;
  left:-38px;
  top:125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:508px;
  top:480px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u14_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:310px;
  height:8px;
}
#u14_seg2 {
  position:absolute;
  left:298px;
  top:-3px;
  width:8px;
  height:17px;
}
#u14_seg3 {
  position:absolute;
  left:293px;
  top:-9px;
  width:18px;
  height:18px;
}
#u15 {
  position:absolute;
  left:102px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:793px;
  top:129px;
  width:198px;
  height:200px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:170px;
  top:346px;
  width:198px;
  height:240px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:931px;
  top:346px;
  width:221px;
  height:240px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u22 {
  position:absolute;
  left:170px;
  top:682px;
  width:181px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:170px;
  top:741px;
  width:708px;
  height:80px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u26 {
  position:absolute;
  left:170px;
  top:920px;
  width:181px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#00B38A;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:170px;
  top:979px;
  width:708px;
  height:80px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
