body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2337px;
  height:1746px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2337px;
  height:1746px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:865px;
  width:2333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:408px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  white-space:nowrap;
}
