body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:718px;
  top:159px;
  width:361px;
  height:642px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:642px;
}
#u1 {
  position:absolute;
  left:2px;
  top:313px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1945px;
  top:406px;
  width:235px;
  height:411px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:411px;
}
#u3 {
  position:absolute;
  left:2px;
  top:198px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1150px;
  top:430px;
  width:410px;
  height:313px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:313px;
}
#u5 {
  position:absolute;
  left:2px;
  top:148px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:159px;
  width:361px;
  height:1488px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:1488px;
}
#u7 {
  position:absolute;
  left:2px;
  top:736px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:93px;
  top:695px;
  width:627px;
  height:-315px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-325px;
  width:20px;
  height:329px;
}
#u8_seg1 {
  position:absolute;
  left:-10px;
  top:-325px;
  width:641px;
  height:20px;
}
#u9 {
  position:absolute;
  left:106px;
  top:-323px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1150px;
  top:159px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1150px;
  top:270px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1150px;
  top:304px;
  width:290px;
  height:25px;
  line-height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1150px;
  top:370px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1220px;
  top:763px;
  width:0px;
  height:80px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:94px;
}
#u19 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1150px;
  top:846px;
  width:140px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1514px;
  top:617px;
  width:420px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:434px;
  height:20px;
}
#u23 {
  position:absolute;
  left:160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:789px;
  top:92px;
  width:219px;
  height:28px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1179px;
  top:694px;
  width:60px;
  height:250px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:17px;
}
#u26_seg1 {
  position:absolute;
  left:-90px;
  top:-7px;
  width:100px;
  height:20px;
}
#u26_seg2 {
  position:absolute;
  left:-90px;
  top:-7px;
  width:20px;
  height:267px;
}
#u26_seg3 {
  position:absolute;
  left:-90px;
  top:240px;
  width:154px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-130px;
  top:147px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1249px;
  top:940px;
  width:241px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1521px;
  top:730px;
  width:0px;
  height:250px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:264px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1450px;
  top:994px;
  width:157px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1520px;
  top:454px;
  width:190px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:204px;
  height:20px;
}
#u35 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1722px;
  top:442px;
  width:198px;
  height:48px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:48px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:950px;
  top:237px;
  width:120px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1430px;
  top:450px;
  width:120px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1140px;
  top:185px;
  width:660px;
  height:32px;
  line-height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
