body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19051 {
  position:absolute;
  left:150px;
  top:563px;
  width:375px;
  height:667px;
}
#u19052 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:182px;
  background:inherit;
  background-color:rgba(234, 235, 231, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19053 {
  position:absolute;
  left:150px;
  top:1048px;
  width:375px;
  height:182px;
}
#u19054 {
  position:absolute;
  left:2px;
  top:83px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19055 {
  position:absolute;
  left:150px;
  top:1093px;
  width:375px;
  height:43px;
}
#u19056 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u19057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u19057 {
  position:absolute;
  left:150px;
  top:1137px;
  width:375px;
  height:43px;
  color:#000000;
}
#u19058 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u19059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19059 {
  position:absolute;
  left:150px;
  top:1187px;
  width:375px;
  height:43px;
}
#u19060 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u19061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19061 {
  position:absolute;
  left:150px;
  top:1046px;
  width:375px;
  height:46px;
}
#u19062 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u19063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19064 {
  position:absolute;
  left:569px;
  top:563px;
  width:375px;
  height:667px;
}
#u19065 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:182px;
  background:inherit;
  background-color:rgba(234, 235, 231, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19066 {
  position:absolute;
  left:569px;
  top:1048px;
  width:375px;
  height:182px;
}
#u19067 {
  position:absolute;
  left:2px;
  top:83px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u19068 {
  position:absolute;
  left:569px;
  top:1048px;
  width:375px;
  height:88px;
  font-size:14px;
  color:#999999;
}
#u19069 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  word-wrap:break-word;
}
#u19070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19070 {
  position:absolute;
  left:569px;
  top:1137px;
  width:375px;
  height:43px;
  color:#FF0000;
}
#u19071 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u19072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19072 {
  position:absolute;
  left:569px;
  top:1187px;
  width:375px;
  height:43px;
}
#u19073 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
