body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:665px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:129px;
  width:667px;
  height:665px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
