body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u6976 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u6978 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6980 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:42px;
}
#u6984 {
  position:absolute;
  left:512px;
  top:245px;
  width:28px;
  height:42px;
}
#u6985 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u6986 {
  position:absolute;
  left:1148px;
  top:242px;
  width:42px;
  height:42px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:496px;
  top:322px;
  width:720px;
  height:286px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:135px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u6990 {
  position:absolute;
  left:518px;
  top:350px;
  width:96px;
  height:96px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992 {
  position:absolute;
  left:632px;
  top:350px;
  width:176px;
  height:43px;
}
#u6992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u6993 {
  position:absolute;
  left:632px;
  top:401px;
  width:568px;
  height:128px;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u6995 {
  position:absolute;
  left:632px;
  top:556px;
  width:104px;
  height:29px;
}
#u6995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u6996 {
  position:absolute;
  left:1102px;
  top:556px;
  width:32px;
  height:27px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998 {
  position:absolute;
  left:1144px;
  top:554px;
  width:46px;
  height:29px;
}
#u6998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6999 {
  position:absolute;
  left:496px;
  top:618px;
  width:720px;
  height:286px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:135px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u7001 {
  position:absolute;
  left:518px;
  top:646px;
  width:96px;
  height:96px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003 {
  position:absolute;
  left:632px;
  top:646px;
  width:120px;
  height:43px;
}
#u7003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u7004 {
  position:absolute;
  left:632px;
  top:697px;
  width:568px;
  height:128px;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u7005 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u7006 {
  position:absolute;
  left:632px;
  top:851px;
  width:104px;
  height:29px;
}
#u7006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u7007 {
  position:absolute;
  left:1102px;
  top:852px;
  width:32px;
  height:27px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009 {
  position:absolute;
  left:1144px;
  top:850px;
  width:46px;
  height:29px;
}
#u7009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7010 {
  position:absolute;
  left:496px;
  top:915px;
  width:720px;
  height:486px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:235px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:183px;
}
#u7012 {
  position:absolute;
  left:906px;
  top:1120px;
  width:264px;
  height:183px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:84px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u7014 {
  position:absolute;
  left:518px;
  top:942px;
  width:96px;
  height:96px;
}
#u7015 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016 {
  position:absolute;
  left:632px;
  top:942px;
  width:136px;
  height:43px;
}
#u7016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u7017 {
  position:absolute;
  left:632px;
  top:1007px;
  width:568px;
  height:64px;
  font-size:24px;
  color:#666666;
  line-height:32px;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u7019 {
  position:absolute;
  left:632px;
  top:1347px;
  width:104px;
  height:29px;
}
#u7019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u7020 {
  position:absolute;
  left:1102px;
  top:1349px;
  width:32px;
  height:27px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7022 {
  position:absolute;
  left:1144px;
  top:1347px;
  width:46px;
  height:29px;
}
#u7022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7023 {
  position:absolute;
  left:496px;
  top:1350px;
  width:720px;
  height:96px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025 {
  position:absolute;
  left:560px;
  top:1414px;
  width:48px;
  height:25px;
}
#u7025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7026 {
  position:absolute;
  left:744px;
  top:1414px;
  width:48px;
  height:25px;
}
#u7026_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7027 {
  position:absolute;
  left:922px;
  top:1414px;
  width:48px;
  height:25px;
}
#u7027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7028 {
  position:absolute;
  left:1084px;
  top:1414px;
  width:88px;
  height:25px;
}
#u7028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u7029 {
  position:absolute;
  left:744px;
  top:1369px;
  width:47px;
  height:40px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u7031 {
  position:absolute;
  left:1107px;
  top:1363px;
  width:40px;
  height:47px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u7033 {
  position:absolute;
  left:558px;
  top:1370px;
  width:50px;
  height:40px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u7035 {
  position:absolute;
  left:924px;
  top:1367px;
  width:45px;
  height:45px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7039_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:132px;
  height:132px;
}
#u7039 {
  position:absolute;
  left:1088px;
  top:1225px;
  width:112px;
  height:112px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:53px;
  height:53px;
}
#u7041 {
  position:absolute;
  left:1130px;
  top:1267px;
  width:28px;
  height:28px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:53px;
  height:53px;
}
#u7043 {
  position:absolute;
  left:1130px;
  top:1267px;
  width:28px;
  height:28px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:76px;
  height:76px;
}
#u7045 {
  position:absolute;
  left:1116px;
  top:1085px;
  width:56px;
  height:56px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:76px;
  height:76px;
}
#u7047 {
  position:absolute;
  left:1116px;
  top:941px;
  width:56px;
  height:56px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:76px;
  height:76px;
}
#u7049 {
  position:absolute;
  left:1116px;
  top:797px;
  width:56px;
  height:56px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7051_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:76px;
  height:76px;
}
#u7051 {
  position:absolute;
  left:1116px;
  top:653px;
  width:56px;
  height:56px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:76px;
  height:76px;
}
#u7053 {
  position:absolute;
  left:1116px;
  top:509px;
  width:56px;
  height:56px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u7055 {
  position:absolute;
  left:960px;
  top:505px;
  width:124px;
  height:64px;
}
#u7056 {
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u7057 {
  position:absolute;
  left:960px;
  top:649px;
  width:124px;
  height:64px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u7059 {
  position:absolute;
  left:960px;
  top:795px;
  width:124px;
  height:64px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:24px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u7061 {
  position:absolute;
  left:944px;
  top:937px;
  width:140px;
  height:64px;
}
#u7062 {
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u7063 {
  position:absolute;
  left:944px;
  top:1081px;
  width:140px;
  height:64px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7065 {
  position:absolute;
  left:993px;
  top:525px;
  width:58px;
  height:25px;
}
#u7065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7066 {
  position:absolute;
  left:983px;
  top:669px;
  width:79px;
  height:25px;
}
#u7066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7067 {
  position:absolute;
  left:994px;
  top:815px;
  width:57px;
  height:25px;
}
#u7067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7068 {
  position:absolute;
  left:963px;
  top:957px;
  width:102px;
  height:25px;
}
#u7068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7069 {
  position:absolute;
  left:963px;
  top:1101px;
  width:102px;
  height:25px;
}
#u7069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:184px;
}
#u7070 {
  position:absolute;
  left:632px;
  top:1120px;
  width:264px;
  height:184px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:84px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u7072 {
  position:absolute;
  left:1130px;
  top:956px;
  width:28px;
  height:27px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7074 {
  position:absolute;
  left:1130px;
  top:523px;
  width:28px;
  height:28px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:28px;
}
#u7076 {
  position:absolute;
  left:1132px;
  top:667px;
  width:24px;
  height:28px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u7078 {
  position:absolute;
  left:1130px;
  top:814px;
  width:28px;
  height:22px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u7080 {
  position:absolute;
  left:1130px;
  top:1101px;
  width:28px;
  height:24px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
