body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:90px;
}
#u5606 {
  position:absolute;
  left:57px;
  top:45px;
  width:821px;
  height:90px;
}
#u5607 {
  position:absolute;
  left:2px;
  top:37px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5608 {
  position:absolute;
  left:56px;
  top:20px;
  width:83px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5609 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u5610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5610 {
  position:absolute;
  left:107px;
  top:52px;
  width:145px;
  height:20px;
}
#u5611 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5612 {
  position:absolute;
  left:539px;
  top:52px;
  width:163px;
  height:20px;
}
#u5613 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5614 {
  position:absolute;
  left:93px;
  top:76px;
  width:215px;
  height:20px;
}
#u5615 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u5616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5616 {
  position:absolute;
  left:553px;
  top:76px;
  width:141px;
  height:20px;
}
#u5617 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5618 {
  position:absolute;
  left:93px;
  top:104px;
  width:71px;
  height:16px;
}
#u5619 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5620 {
  position:absolute;
  left:164px;
  top:100px;
  width:528px;
  height:25px;
}
#u5620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:93px;
}
#u5622 {
  position:absolute;
  left:56px;
  top:527px;
  width:821px;
  height:93px;
}
#u5623 {
  position:absolute;
  left:2px;
  top:38px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624 {
  position:absolute;
  left:122px;
  top:544px;
  width:694px;
  height:65px;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u5625 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u5627 {
  position:absolute;
  left:56px;
  top:0px;
  width:113px;
  height:30px;
}
#u5628 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u5629 {
  position:absolute;
  left:169px;
  top:0px;
  width:76px;
  height:30px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u5631 {
  position:absolute;
  left:245px;
  top:0px;
  width:82px;
  height:30px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u5633 {
  position:absolute;
  left:327px;
  top:0px;
  width:75px;
  height:30px;
}
#u5634 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u5635 {
  position:absolute;
  left:402px;
  top:0px;
  width:59px;
  height:30px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u5637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u5637 {
  position:absolute;
  left:461px;
  top:0px;
  width:51px;
  height:30px;
}
#u5638 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u5639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u5639 {
  position:absolute;
  left:512px;
  top:0px;
  width:51px;
  height:30px;
}
#u5640 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u5641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5641 {
  position:absolute;
  left:563px;
  top:0px;
  width:126px;
  height:30px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:30px;
  width:56px;
  height:30px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u5645 {
  position:absolute;
  left:56px;
  top:30px;
  width:113px;
  height:30px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u5647 {
  position:absolute;
  left:169px;
  top:30px;
  width:76px;
  height:30px;
}
#u5648 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u5649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u5649 {
  position:absolute;
  left:245px;
  top:30px;
  width:82px;
  height:30px;
}
#u5650 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u5651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u5651 {
  position:absolute;
  left:327px;
  top:30px;
  width:75px;
  height:30px;
}
#u5652 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u5653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u5653 {
  position:absolute;
  left:402px;
  top:30px;
  width:59px;
  height:30px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u5655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u5655 {
  position:absolute;
  left:461px;
  top:30px;
  width:51px;
  height:30px;
}
#u5656 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u5657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u5657 {
  position:absolute;
  left:512px;
  top:30px;
  width:51px;
  height:30px;
}
#u5658 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u5659 {
  position:absolute;
  left:563px;
  top:30px;
  width:126px;
  height:30px;
}
#u5660 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5661 {
  position:absolute;
  left:57px;
  top:505px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5663 {
  position:absolute;
  left:935px;
  top:544px;
  width:258px;
  height:82px;
  text-align:left;
}
#u5664 {
  position:absolute;
  left:2px;
  top:2px;
  width:254px;
  word-wrap:break-word;
}
#u5665 {
  position:absolute;
  left:935px;
  top:585px;
  width:0px;
  height:0px;
  text-align:left;
}
#u5665_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u5665_seg1 {
  position:absolute;
  left:-56px;
  top:-69px;
  width:8px;
  height:73px;
}
#u5665_seg2 {
  position:absolute;
  left:-370px;
  top:-69px;
  width:322px;
  height:8px;
}
#u5665_seg3 {
  position:absolute;
  left:-370px;
  top:-69px;
  width:8px;
  height:21px;
}
#u5665_seg4 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:21px;
  height:20px;
}
#u5666 {
  position:absolute;
  left:-209px;
  top:-73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5667 {
  position:absolute;
  left:456px;
  top:537px;
  width:225px;
  height:45px;
}
#u5668 {
  position:absolute;
  left:2px;
  top:14px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5669 {
  position:absolute;
  left:687px;
  top:545px;
  width:122px;
  height:24px;
}
#u5670 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5672 {
  position:absolute;
  left:92px;
  top:761px;
  width:79px;
  height:16px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5674 {
  position:absolute;
  left:56px;
  top:719px;
  width:136px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5676 {
  position:absolute;
  left:181px;
  top:761px;
  width:116px;
  height:16px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:71px;
  top:790px;
  width:99px;
  height:16px;
}
#u5679 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  position:absolute;
  left:492px;
  top:790px;
  width:99px;
  height:16px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5682 {
  position:absolute;
  left:509px;
  top:761px;
  width:79px;
  height:16px;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  position:absolute;
  left:600px;
  top:761px;
  width:116px;
  height:16px;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5686 {
  position:absolute;
  left:601px;
  top:787px;
  width:116px;
  height:16px;
}
#u5687 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5688 {
  position:absolute;
  left:182px;
  top:787px;
  width:130px;
  height:22px;
}
#u5688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5688_input:disabled {
  color:grayText;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:39px;
}
#u5690 {
  position:absolute;
  left:56px;
  top:193px;
  width:821px;
  height:39px;
}
#u5691 {
  position:absolute;
  left:2px;
  top:12px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5692 {
  position:absolute;
  left:56px;
  top:166px;
  width:118px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5693 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5694 {
  position:absolute;
  left:106px;
  top:202px;
  width:57px;
  height:20px;
}
#u5695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5696 {
  position:absolute;
  left:165px;
  top:200px;
  width:528px;
  height:25px;
}
#u5696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5698 {
  position:absolute;
  left:90px;
  top:665px;
  width:79px;
  height:16px;
}
#u5699 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5700 {
  position:absolute;
  left:56px;
  top:630px;
  width:136px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5702 {
  position:absolute;
  left:179px;
  top:665px;
  width:116px;
  height:16px;
}
#u5703 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5704 {
  position:absolute;
  left:71px;
  top:691px;
  width:99px;
  height:16px;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5706 {
  position:absolute;
  left:180px;
  top:691px;
  width:116px;
  height:16px;
}
#u5707 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5708 {
  position:absolute;
  left:492px;
  top:692px;
  width:99px;
  height:16px;
}
#u5709 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5710 {
  position:absolute;
  left:601px;
  top:692px;
  width:116px;
  height:16px;
}
#u5711 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5712 {
  position:absolute;
  left:508px;
  top:669px;
  width:79px;
  height:16px;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5714 {
  position:absolute;
  left:599px;
  top:669px;
  width:116px;
  height:16px;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:209px;
}
#u5717 {
  position:absolute;
  left:56px;
  top:287px;
  width:821px;
  height:209px;
  color:#000000;
}
#u5718 {
  position:absolute;
  left:2px;
  top:96px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5719 {
  position:absolute;
  left:66px;
  top:371px;
  width:99px;
  height:20px;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5721 {
  position:absolute;
  left:536px;
  top:346px;
  width:71px;
  height:20px;
  color:#000000;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5723 {
  position:absolute;
  left:66px;
  top:396px;
  width:99px;
  height:20px;
  color:#000000;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5725 {
  position:absolute;
  left:94px;
  top:426px;
  width:71px;
  height:20px;
  color:#000000;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5727 {
  position:absolute;
  left:56px;
  top:260px;
  width:119px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5728 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5729 {
  position:absolute;
  left:536px;
  top:372px;
  width:71px;
  height:20px;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5731 {
  position:absolute;
  left:82px;
  top:456px;
  width:86px;
  height:32px;
  color:#000000;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u5733 {
  position:absolute;
  left:168px;
  top:459px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5734 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5733_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5735 {
  position:absolute;
  left:235px;
  top:459px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5736 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5735_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5737 {
  position:absolute;
  left:302px;
  top:459px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5738 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5737_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5739 {
  position:absolute;
  left:371px;
  top:459px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5740 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5739_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5741 {
  position:absolute;
  left:438px;
  top:459px;
  width:57px;
  height:16px;
}
#u5742 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5741_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5743 {
  position:absolute;
  left:505px;
  top:459px;
  width:57px;
  height:16px;
}
#u5744 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5743_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5745 {
  position:absolute;
  left:572px;
  top:459px;
  width:57px;
  height:16px;
}
#u5746 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u5745_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5747 {
  position:absolute;
  left:610px;
  top:346px;
  width:113px;
  height:16px;
  color:#000000;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5749 {
  position:absolute;
  left:168px;
  top:396px;
  width:189px;
  height:20px;
  color:#000000;
}
#u5750 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u5751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5751 {
  position:absolute;
  left:169px;
  top:426px;
  width:84px;
  height:20px;
  color:#000000;
}
#u5752 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5753 {
  position:absolute;
  left:167px;
  top:371px;
  width:84px;
  height:20px;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5755 {
  position:absolute;
  left:610px;
  top:374px;
  width:84px;
  height:16px;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5757 {
  position:absolute;
  left:89px;
  top:301px;
  width:76px;
  height:20px;
  color:#000000;
}
#u5758 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5759 {
  position:absolute;
  left:165px;
  top:301px;
  width:100px;
  height:16px;
  color:#000000;
}
#u5760 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5759_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5761 {
  position:absolute;
  left:239px;
  top:301px;
  width:100px;
  height:16px;
  color:#000000;
}
#u5762 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5761_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5763 {
  position:absolute;
  left:508px;
  top:322px;
  width:99px;
  height:16px;
  color:#000000;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5765 {
  position:absolute;
  left:70px;
  top:325px;
  width:95px;
  height:16px;
  color:#000000;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5767 {
  position:absolute;
  left:167px;
  top:325px;
  width:113px;
  height:16px;
  color:#000000;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5769 {
  position:absolute;
  left:611px;
  top:323px;
  width:84px;
  height:16px;
}
#u5770 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5771 {
  position:absolute;
  left:94px;
  top:347px;
  width:71px;
  height:16px;
  color:#000000;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5773 {
  position:absolute;
  left:168px;
  top:347px;
  width:113px;
  height:16px;
  color:#000000;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
