body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:556px;
}
#u8876 {
  position:absolute;
  left:0px;
  top:73px;
  width:990px;
  height:555px;
  font-family:'Heiti TC Regular', 'Heiti TC';
  font-weight:200;
  font-style:normal;
}
#u8877 {
  position:absolute;
  left:2px;
  top:270px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:470px;
}
#u8878 {
  position:absolute;
  left:60px;
  top:105px;
  width:886px;
  height:469px;
}
#u8879 {
  position:absolute;
  left:2px;
  top:226px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:49px;
}
#u8880 {
  position:absolute;
  left:76px;
  top:128px;
  width:848px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8881 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:217px;
}
#u8882 {
  position:absolute;
  left:1000px;
  top:128px;
  width:293px;
  height:216px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u8883 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u8884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u8884 {
  position:absolute;
  left:76px;
  top:201px;
  width:85px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8885 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8886 {
  position:absolute;
  left:277px;
  top:194px;
  width:105px;
  height:30px;
}
#u8886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#282828;
  text-align:left;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:47px;
}
#u8887 {
  position:absolute;
  left:60px;
  top:664px;
  width:442px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:14px;
  width:438px;
  word-wrap:break-word;
}
#u8889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u8889 {
  position:absolute;
  left:476px;
  top:680px;
  width:9px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8890 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:372px;
}
#u8891 {
  position:absolute;
  left:60px;
  top:710px;
  width:442px;
  height:371px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8892 {
  position:absolute;
  left:2px;
  top:178px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:73px;
}
#u8893 {
  position:absolute;
  left:91px;
  top:782px;
  width:381px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  line-height:24px;
}
#u8894 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u8895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:31px;
}
#u8895 {
  position:absolute;
  left:382px;
  top:194px;
  width:23px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8896 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  word-wrap:break-word;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u8897 {
  position:absolute;
  left:69px;
  top:10px;
  width:109px;
  height:33px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8898 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u8899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:25px;
}
#u8899 {
  position:absolute;
  left:171px;
  top:239px;
  width:428px;
  height:24px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8900 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  word-wrap:break-word;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u8901 {
  position:absolute;
  left:171px;
  top:584px;
  width:95px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8902 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u8903 {
  position:absolute;
  left:91px;
  top:732px;
  width:311px;
  height:40px;
}
#u8903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u8904 {
  position:absolute;
  left:402px;
  top:732px;
  width:70px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8905 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u8906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8906 {
  position:absolute;
  left:171px;
  top:300px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8907 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u8908 {
  position:absolute;
  left:171px;
  top:275px;
  width:83px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8909 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u8910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8910 {
  position:absolute;
  left:269px;
  top:300px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8911 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8912 {
  position:absolute;
  left:366px;
  top:300px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8913 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8914 {
  position:absolute;
  left:171px;
  top:368px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8915 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u8916 {
  position:absolute;
  left:171px;
  top:345px;
  width:95px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8917 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u8918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8918 {
  position:absolute;
  left:171px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8919 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u8920 {
  position:absolute;
  left:171px;
  top:414px;
  width:107px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8921 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8922 {
  position:absolute;
  left:269px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8923 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8924 {
  position:absolute;
  left:366px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8925 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8926 {
  position:absolute;
  left:587px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8927 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8928 {
  position:absolute;
  left:685px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8929 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8930 {
  position:absolute;
  left:171px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8931 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u8932 {
  position:absolute;
  left:171px;
  top:491px;
  width:95px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8933 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u8934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8934 {
  position:absolute;
  left:269px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8935 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8936 {
  position:absolute;
  left:366px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8937 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8938 {
  position:absolute;
  left:587px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8939 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8940 {
  position:absolute;
  left:685px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8941 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8942 {
  position:absolute;
  left:471px;
  top:300px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8943 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8944 {
  position:absolute;
  left:471px;
  top:443px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8945 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8946 {
  position:absolute;
  left:471px;
  top:519px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8947 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u8948 {
  position:absolute;
  left:587px;
  top:300px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8949 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u8950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:47px;
}
#u8950 {
  position:absolute;
  left:990px;
  top:357px;
  width:356px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8951 {
  position:absolute;
  left:2px;
  top:14px;
  width:352px;
  word-wrap:break-word;
}
#u8952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u8952 {
  position:absolute;
  left:1325px;
  top:373px;
  width:9px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8953 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:69px;
}
#u8954 {
  position:absolute;
  left:990px;
  top:403px;
  width:356px;
  height:68px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8955 {
  position:absolute;
  left:2px;
  top:26px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:47px;
}
#u8956 {
  position:absolute;
  left:990px;
  top:471px;
  width:356px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8957 {
  position:absolute;
  left:2px;
  top:15px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u8958 {
  position:absolute;
  left:1175px;
  top:478px;
  width:60px;
  height:32px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8959 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u8960 {
  position:absolute;
  left:1101px;
  top:478px;
  width:60px;
  height:32px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u8961 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:25px;
}
#u8962 {
  position:absolute;
  left:1021px;
  top:421px;
  width:294px;
  height:24px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8963 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u8964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u8964 {
  position:absolute;
  left:91px;
  top:864px;
  width:85px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8965 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:27px;
}
#u8966 {
  position:absolute;
  left:91px;
  top:896px;
  width:183px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  white-space:nowrap;
}
#u8968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u8968 {
  position:absolute;
  left:254px;
  top:1026px;
  width:60px;
  height:32px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8969 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u8970 {
  position:absolute;
  left:180px;
  top:1026px;
  width:60px;
  height:32px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u8971 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
}
#u8972 {
  position:absolute;
  left:283px;
  top:896px;
  width:195px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8973 {
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  white-space:nowrap;
}
#u8974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:27px;
}
#u8974 {
  position:absolute;
  left:91px;
  top:932px;
  width:183px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  white-space:nowrap;
}
#u8976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u8976 {
  position:absolute;
  left:283px;
  top:932px;
  width:147px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8977 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  white-space:nowrap;
}
#u8978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u8978 {
  position:absolute;
  left:91px;
  top:968px;
  width:147px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8979 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  white-space:nowrap;
}
#u8980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u8980 {
  position:absolute;
  left:283px;
  top:968px;
  width:147px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  white-space:nowrap;
}
#u8982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:47px;
}
#u8982 {
  position:absolute;
  left:590px;
  top:808px;
  width:356px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8983 {
  position:absolute;
  left:2px;
  top:14px;
  width:352px;
  word-wrap:break-word;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u8984 {
  position:absolute;
  left:925px;
  top:824px;
  width:9px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8985 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:87px;
}
#u8986 {
  position:absolute;
  left:590px;
  top:854px;
  width:356px;
  height:86px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8987 {
  position:absolute;
  left:2px;
  top:35px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:47px;
}
#u8988 {
  position:absolute;
  left:590px;
  top:940px;
  width:356px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8989 {
  position:absolute;
  left:2px;
  top:15px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u8990 {
  position:absolute;
  left:729px;
  top:947px;
  width:60px;
  height:32px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8991 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:73px;
}
#u8992 {
  position:absolute;
  left:621px;
  top:865px;
  width:313px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u8993 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  word-wrap:break-word;
}
#u8994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:121px;
}
#u8994 {
  position:absolute;
  left:590px;
  top:664px;
  width:337px;
  height:120px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u8995 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u8996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u8996 {
  position:absolute;
  left:171px;
  top:202px;
  width:85px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8997 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:258px;
}
#u8998 {
  position:absolute;
  left:41px;
  top:1121px;
  width:886px;
  height:257px;
}
#u8999 {
  position:absolute;
  left:2px;
  top:120px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:49px;
}
#u9000 {
  position:absolute;
  left:57px;
  top:1144px;
  width:848px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u9001 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u9002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:25px;
}
#u9002 {
  position:absolute;
  left:57px;
  top:1209px;
  width:592px;
  height:24px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 0, 0, 0.8);
  line-height:24px;
}
#u9003 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u9004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u9004 {
  position:absolute;
  left:57px;
  top:1243px;
  width:70px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9005 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u9006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u9006 {
  position:absolute;
  left:76px;
  top:243px;
  width:85px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9007 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:49px;
}
#u9008 {
  position:absolute;
  left:306px;
  top:577px;
  width:337px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u9009 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u9010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:49px;
}
#u9010 {
  position:absolute;
  left:590px;
  top:1014px;
  width:337px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u9011 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u9012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:73px;
}
#u9012 {
  position:absolute;
  left:1000px;
  top:538px;
  width:328px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u9013 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u9014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:337px;
}
#u9014 {
  position:absolute;
  left:1000px;
  top:673px;
  width:407px;
  height:336px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u9015 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
