body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:797px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:35px;
  top:36px;
  width:273px;
  height:458px;
}
#u826 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u827 {
  position:absolute;
  left:35px;
  top:36px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u828 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u829 {
  position:absolute;
  left:40px;
  top:46px;
  width:40px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u831 {
  position:absolute;
  left:35px;
  top:453px;
  width:278px;
  height:48px;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u833 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u834 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u835 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
}
#u836 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:43px;
  font-size:12px;
}
#u837 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u838 {
  position:absolute;
  left:247px;
  top:453px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u839 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u840 {
  position:absolute;
  left:157px;
  top:453px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u841 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
  text-align:center;
}
#u842 {
  position:absolute;
  left:66px;
  top:453px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
  text-align:center;
}
#u843 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF6666;
}
#u844 {
  position:absolute;
  left:70px;
  top:478px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF6666;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u846 {
  position:absolute;
  left:158px;
  top:478px;
  width:36px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u848 {
  position:absolute;
  left:256px;
  top:478px;
  width:19px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:35px;
  top:455px;
  width:89px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u851 {
  position:absolute;
  left:124px;
  top:455px;
  width:92px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u852 {
  position:absolute;
  left:216px;
  top:455px;
  width:92px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854 {
  position:absolute;
  left:35px;
  top:70px;
  width:278px;
  height:28px;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u856 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u857 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u858 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u859 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u860 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u861 {
  position:absolute;
  left:192px;
  top:79px;
  width:6px;
  height:6px;
}
#u862 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u863 {
  position:absolute;
  left:281px;
  top:79px;
  width:6px;
  height:6px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:43px;
  top:106px;
  width:127px;
  height:152px;
}
#u868 {
  position:absolute;
  left:2px;
  top:68px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u869 {
  position:absolute;
  left:57px;
  top:115px;
  width:96px;
  height:94px;
}
#u870 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u871 {
  position:absolute;
  left:57px;
  top:214px;
  width:52px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:176px;
  top:105px;
  width:123px;
  height:152px;
}
#u875 {
  position:absolute;
  left:2px;
  top:68px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u876 {
  position:absolute;
  left:190px;
  top:115px;
  width:96px;
  height:94px;
}
#u877 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u878 {
  position:absolute;
  left:185px;
  top:214px;
  width:62px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:44px;
  top:269px;
  width:127px;
  height:151px;
}
#u882 {
  position:absolute;
  left:2px;
  top:68px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u883 {
  position:absolute;
  left:58px;
  top:280px;
  width:96px;
  height:94px;
}
#u884 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:58px;
  top:379px;
  width:63px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:177px;
  top:268px;
  width:123px;
  height:151px;
}
#u889 {
  position:absolute;
  left:2px;
  top:68px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u890 {
  position:absolute;
  left:189px;
  top:280px;
  width:96px;
  height:94px;
}
#u891 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:189px;
  top:379px;
  width:61px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u894 {
  position:absolute;
  left:132px;
  top:66px;
  width:24px;
  height:32px;
}
#u895 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u896 {
  position:absolute;
  left:223px;
  top:64px;
  width:24px;
  height:32px;
}
#u897 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u898 {
  position:absolute;
  left:328px;
  top:40px;
  width:24px;
  height:32px;
}
#u899 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:358px;
  top:38px;
  width:387px;
  height:54px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903 {
  position:absolute;
  left:358px;
  top:110px;
  width:278px;
  height:28px;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u905 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u906 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u907 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u908 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u909 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u910 {
  position:absolute;
  left:515px;
  top:119px;
  width:6px;
  height:6px;
}
#u911 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u912 {
  position:absolute;
  left:604px;
  top:119px;
  width:6px;
  height:6px;
}
#u913 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:357px;
  top:135px;
  width:279px;
  height:74px;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
  font-size:11px;
}
#u916 {
  position:absolute;
  left:2px;
  top:4px;
  width:270px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
}
#u917 {
  position:absolute;
  left:0px;
  top:23px;
  width:274px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u918 {
  position:absolute;
  left:2px;
  top:4px;
  width:270px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
}
#u919 {
  position:absolute;
  left:0px;
  top:46px;
  width:274px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u920 {
  position:absolute;
  left:2px;
  top:4px;
  width:270px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u921 {
  position:absolute;
  left:328px;
  top:218px;
  width:24px;
  height:32px;
}
#u922 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:358px;
  top:219px;
  width:387px;
  height:36px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u926 {
  position:absolute;
  left:516px;
  top:274px;
  width:6px;
  height:6px;
}
#u927 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u928 {
  position:absolute;
  left:605px;
  top:274px;
  width:6px;
  height:6px;
}
#u929 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:359px;
  top:265px;
  width:278px;
  height:28px;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u932 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u933 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u934 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
}
#u935 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:23px;
  font-size:11px;
}
#u936 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u937 {
  position:absolute;
  left:359px;
  top:290px;
  width:278px;
  height:74px;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:23px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u939 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:23px;
}
#u940 {
  position:absolute;
  left:0px;
  top:23px;
  width:273px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u941 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:23px;
}
#u942 {
  position:absolute;
  left:0px;
  top:46px;
  width:273px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u943 {
  position:absolute;
  left:2px;
  top:4px;
  width:269px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u944 {
  position:absolute;
  left:328px;
  top:379px;
  width:24px;
  height:32px;
}
#u945 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u946 {
  position:absolute;
  left:35px;
  top:119px;
  width:24px;
  height:32px;
}
#u947 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:358px;
  top:383px;
  width:401px;
  height:18px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:43px;
  top:106px;
  width:127px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u951 {
  position:absolute;
  left:176px;
  top:106px;
  width:123px;
  height:151px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u952 {
  position:absolute;
  left:44px;
  top:268px;
  width:127px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u953 {
  position:absolute;
  left:177px;
  top:268px;
  width:127px;
  height:151px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u955 {
  position:absolute;
  left:139px;
  top:227px;
  width:23px;
  height:23px;
}
#u956 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u957 {
  position:absolute;
  left:144px;
  top:232px;
  width:13px;
  height:13px;
}
#u958 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u960 {
  position:absolute;
  left:273px;
  top:227px;
  width:23px;
  height:23px;
}
#u961 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u962 {
  position:absolute;
  left:278px;
  top:232px;
  width:13px;
  height:13px;
}
#u963 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u965 {
  position:absolute;
  left:139px;
  top:389px;
  width:23px;
  height:23px;
}
#u966 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u967 {
  position:absolute;
  left:144px;
  top:394px;
  width:13px;
  height:13px;
}
#u968 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u970 {
  position:absolute;
  left:273px;
  top:389px;
  width:23px;
  height:23px;
}
#u971 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u972 {
  position:absolute;
  left:278px;
  top:394px;
  width:13px;
  height:13px;
}
#u973 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u974 {
  position:absolute;
  left:193px;
  top:470px;
  width:15px;
  height:15px;
  font-size:10px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u976 {
  position:absolute;
  left:284px;
  top:362px;
  width:24px;
  height:32px;
}
#u977 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u978 {
  position:absolute;
  left:328px;
  top:437px;
  width:24px;
  height:32px;
}
#u979 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:358px;
  top:440px;
  width:439px;
  height:18px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
