body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:936px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:124px;
  width:584px;
  height:936px;
  display:flex;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:51px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u626_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:51px;
  width:266px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:934px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:126px;
  width:607px;
  height:934px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:41px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:46px;
  width:256px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
