body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:87px;
  top:42px;
  width:573px;
  height:1772px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:1772px;
}
#u1 {
  position:absolute;
  left:2px;
  top:878px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
