body {
  margin:0px;
  background-color:rgba(244, 244, 243, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u1605 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u1606 {
  position:absolute;
  left:2px;
  top:441px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 160, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
}
#u1608 {
  position:absolute;
  left:2px;
  top:12px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1609 {
  position:absolute;
  left:17px;
  top:7px;
  width:24px;
  height:25px;
}
#u1610 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1611 {
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1612 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1613 {
  position:absolute;
  left:50px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1614 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1615 {
  position:absolute;
  left:153px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1616 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:858px;
}
#u1617 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:858px;
}
#u1618 {
  position:absolute;
  left:2px;
  top:421px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1619 {
  position:absolute;
  left:0px;
  top:39px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1619_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1619.selected {
}
#u1620 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1621 {
  position:absolute;
  left:0px;
  top:73px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1621_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1621.selected {
}
#u1622 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1623 {
  position:absolute;
  left:0px;
  top:107px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1623_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1623.selected {
}
#u1624 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1625 {
  position:absolute;
  left:0px;
  top:141px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1625_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1625.selected {
}
#u1626 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:391px;
}
#u1627 {
  position:absolute;
  left:200px;
  top:39px;
  width:1422px;
  height:391px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:188px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 247, 247, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1629 {
  position:absolute;
  left:248px;
  top:341px;
  width:1326px;
  height:55px;
}
#u1630 {
  position:absolute;
  left:2px;
  top:20px;
  width:1322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u1631 {
  position:absolute;
  left:914px;
  top:359px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u1633 {
  position:absolute;
  left:348px;
  top:359px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1634 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u1635 {
  position:absolute;
  left:452px;
  top:359px;
  width:89px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1636 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1637 {
  position:absolute;
  left:578px;
  top:357px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#565656;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u1639 {
  position:absolute;
  left:262px;
  top:357px;
  width:38px;
  height:20px;
  font-size:14px;
  color:#565656;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1641 {
  position:absolute;
  left:665px;
  top:357px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#565656;
}
#u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u1643 {
  position:absolute;
  left:751px;
  top:359px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u1645 {
  position:absolute;
  left:1098px;
  top:359px;
  width:73px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1646 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1647 {
  position:absolute;
  left:1325px;
  top:359px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#565656;
}
#u1648 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1649 {
  position:absolute;
  left:1504px;
  top:357px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#008DFF;
}
#u1650 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
