body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u6458 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u6459 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u6460 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u6461 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6462 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u6463 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6464 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u6465 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0066FF;
}
#u6466 {
  position:absolute;
  left:1140px;
  top:245px;
  width:57px;
  height:38px;
  font-size:28px;
  color:#0066FF;
}
#u6467 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1134px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.0784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6468 {
  position:absolute;
  left:496px;
  top:312px;
  width:720px;
  height:1134px;
}
#u6469 {
  position:absolute;
  left:2px;
  top:559px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6470 {
  position:absolute;
  left:552px;
  top:357px;
}
#u6470_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6470_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6471 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6472 {
  position:absolute;
  left:2px;
  top:480px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6470_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6470_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6473 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6474 {
  position:absolute;
  left:2px;
  top:480px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6470_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6470_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6475 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:977px;
}
#u6476 {
  position:absolute;
  left:2px;
  top:480px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6477 {
  position:absolute;
  left:814px;
  top:1394px;
  width:20px;
  height:20px;
}
#u6477_img.selected {
}
#u6477.selected {
}
#u6478 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6479 {
  position:absolute;
  left:844px;
  top:1394px;
  width:20px;
  height:20px;
}
#u6479_img.selected {
}
#u6479.selected {
}
#u6480 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6481 {
  position:absolute;
  left:874px;
  top:1394px;
  width:20px;
  height:20px;
}
#u6481_img.selected {
}
#u6481.selected {
}
#u6482 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
