body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:199px;
  top:0px;
  width:375px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:228px;
  top:99px;
  width:321px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:229px;
  top:125px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:364px;
  top:130px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:236px;
  top:127px;
  width:44px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:493px;
  top:125px;
  width:48px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:228px;
  top:160px;
  width:321px;
  height:460px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:460px;
}
#u13 {
  position:absolute;
  left:2px;
  top:222px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:231px;
  top:167px;
  width:315px;
  height:54px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
}
#u15 {
  position:absolute;
  left:2px;
  top:19px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:452px;
  top:195px;
  width:88px;
  height:20px;
  font-size:11px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:84px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:460px;
  top:175px;
  width:79px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:242px;
  top:176px;
  width:40px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:293px;
  top:195px;
  width:165px;
  height:20px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:161px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:294px;
  top:176px;
  width:106px;
  height:20px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:232px;
  top:222px;
  width:315px;
  height:54px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:54px;
}
#u27 {
  position:absolute;
  left:2px;
  top:19px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:453px;
  top:250px;
  width:88px;
  height:20px;
  font-size:11px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:84px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:461px;
  top:230px;
  width:79px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:243px;
  top:231px;
  width:40px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:294px;
  top:250px;
  width:165px;
  height:20px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:161px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:295px;
  top:231px;
  width:85px;
  height:20px;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
