body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:166px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:166px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
