body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6251 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u6252 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:800px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6254 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:800px;
}
#u6255 {
  position:absolute;
  left:2px;
  top:392px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6256 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:667px;
}
#u6257 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6258 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u6259 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6260 {
  position:absolute;
  left:204px;
  top:863px;
  width:168px;
  height:10px;
}
#u6261 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6263 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u6264 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6265 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u6266 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6269 {
  position:absolute;
  left:108px;
  top:196px;
  width:360px;
  height:56px;
}
#u6270 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6271 {
  position:absolute;
  left:108px;
  top:204px;
  width:40px;
  height:40px;
}
#u6272 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6273 {
  position:absolute;
  left:148px;
  top:214px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6274 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6275 {
  position:absolute;
  left:108px;
  top:196px;
  width:104px;
  height:56px;
}
#u6275_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6275.mouseDown {
}
#u6276 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6279 {
  position:absolute;
  left:108px;
  top:256px;
  width:360px;
  height:48px;
}
#u6280 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6281_img {
  position:absolute;
  left:-4px;
  top:-3px;
  width:99px;
  height:13px;
}
#u6281 {
  position:absolute;
  left:108px;
  top:300px;
  width:90px;
  height:4px;
}
#u6282 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6283 {
  position:absolute;
  left:108px;
  top:256px;
  width:90px;
  height:48px;
  font-size:14px;
}
#u6283_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6283.mouseDown {
}
#u6284 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u6285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6285 {
  position:absolute;
  left:243px;
  top:256px;
  width:90px;
  height:48px;
  font-size:14px;
}
#u6285_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6285.mouseDown {
}
#u6286 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u6287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6287 {
  position:absolute;
  left:378px;
  top:256px;
  width:90px;
  height:48px;
  font-size:14px;
}
#u6287_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6287.mouseDown {
}
#u6288 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u6289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:71px;
}
#u6289 {
  position:absolute;
  left:118px;
  top:314px;
  width:340px;
  height:70px;
}
#u6290 {
  position:absolute;
  left:2px;
  top:27px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u6291 {
  position:absolute;
  left:125px;
  top:314px;
  width:66px;
  height:19px;
}
#u6292 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u6293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6293 {
  position:absolute;
  left:163px;
  top:337px;
  width:49px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6294 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u6295 {
  position:absolute;
  left:160px;
  top:362px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u6296 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6297 {
  position:absolute;
  left:370px;
  top:333px;
  width:80px;
  height:33px;
}
#u6298 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:71px;
}
#u6299 {
  position:absolute;
  left:222px;
  top:314px;
  width:1px;
  height:70px;
}
#u6300 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6301 {
  position:absolute;
  left:238px;
  top:322px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6302 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6303 {
  position:absolute;
  left:238px;
  top:351px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6304 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6305 {
  position:absolute;
  left:300px;
  top:351px;
  width:35px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6306 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6307 {
  position:absolute;
  left:431px;
  top:378px;
  width:0px;
  height:0px;
}
#u6307_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:152px;
  height:8px;
}
#u6307_seg1 {
  position:absolute;
  left:144px;
  top:-36px;
  width:8px;
  height:40px;
}
#u6307_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6307_seg3 {
  position:absolute;
  left:138px;
  top:-45px;
  width:20px;
  height:20px;
}
#u6308 {
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6310 {
  position:absolute;
  left:578px;
  top:335px;
  width:305px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6311 {
  position:absolute;
  left:5px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u6312_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u6312 {
  position:absolute;
  left:578px;
  top:335px;
  width:2px;
  height:14px;
}
#u6313 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6314 {
  position:absolute;
  left:418px;
  top:353px;
  width:0px;
  height:0px;
}
#u6314_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u6314_seg1 {
  position:absolute;
  left:-4px;
  top:93px;
  width:169px;
  height:8px;
}
#u6314_seg2 {
  position:absolute;
  left:157px;
  top:68px;
  width:8px;
  height:33px;
}
#u6314_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6314_seg4 {
  position:absolute;
  left:151px;
  top:59px;
  width:20px;
  height:20px;
}
#u6315 {
  position:absolute;
  left:-4px;
  top:89px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6317 {
  position:absolute;
  left:578px;
  top:414px;
  width:221px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6318 {
  position:absolute;
  left:5px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u6319_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u6319 {
  position:absolute;
  left:578px;
  top:414px;
  width:2px;
  height:14px;
}
#u6320 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6321 {
  position:absolute;
  left:233px;
  top:317px;
  width:102px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6322 {
  position:absolute;
  left:318px;
  top:367px;
  width:0px;
  height:0px;
}
#u6322_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:177px;
}
#u6322_seg1 {
  position:absolute;
  left:-4px;
  top:169px;
  width:272px;
  height:8px;
}
#u6322_seg2 {
  position:absolute;
  left:260px;
  top:148px;
  width:8px;
  height:29px;
}
#u6322_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6322_seg4 {
  position:absolute;
  left:254px;
  top:139px;
  width:20px;
  height:20px;
}
#u6323 {
  position:absolute;
  left:8px;
  top:165px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6325 {
  position:absolute;
  left:581px;
  top:508px;
  width:207px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6326 {
  position:absolute;
  left:5px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u6327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u6327 {
  position:absolute;
  left:581px;
  top:508px;
  width:1px;
  height:14px;
}
#u6328 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
