body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:770px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:377px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:768px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3050 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:768px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:376px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3052 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:641px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3054 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u3055 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3056 {
  position:absolute;
  left:204px;
  top:831px;
  width:168px;
  height:10px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3058 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:640px;
}
#u3059 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060 {
  position:absolute;
  left:118px;
  top:213px;
  width:25px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3061 {
  position:absolute;
  left:108px;
  top:242px;
  visibility:hidden;
}
#u3061_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3061_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
  background:inherit;
  background-color:rgba(66, 65, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
  opacity:0.5;
}
#u3063 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:129px;
}
#u3064 {
  position:absolute;
  left:0px;
  top:442px;
  width:360px;
  height:129px;
}
#u3065 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066 {
  position:absolute;
  left:121px;
  top:540px;
  width:128px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3067 {
  position:absolute;
  left:333px;
  top:457px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3068 {
  position:absolute;
  left:136px;
  top:228px;
  width:0px;
  height:0px;
}
#u3068_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:557px;
  height:8px;
}
#u3068_seg1 {
  position:absolute;
  left:549px;
  top:-121px;
  width:8px;
  height:125px;
}
#u3068_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3068_seg3 {
  position:absolute;
  left:543px;
  top:-130px;
  width:20px;
  height:20px;
}
#u3069 {
  position:absolute;
  left:287px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3071 {
  position:absolute;
  left:688px;
  top:100px;
  width:109px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3072 {
  position:absolute;
  left:5px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3073_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u3073 {
  position:absolute;
  left:688px;
  top:100px;
  width:2px;
  height:14px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075 {
  position:absolute;
  left:410px;
  top:500px;
  width:0px;
  height:0px;
}
#u3075_seg0 {
  position:absolute;
  left:-4px;
  top:-94px;
  width:8px;
  height:94px;
}
#u3075_seg1 {
  position:absolute;
  left:-4px;
  top:-94px;
  width:287px;
  height:8px;
}
#u3075_seg2 {
  position:absolute;
  left:275px;
  top:-151px;
  width:8px;
  height:65px;
}
#u3075_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3075_seg4 {
  position:absolute;
  left:269px;
  top:-160px;
  width:20px;
  height:20px;
}
#u3076 {
  position:absolute;
  left:75px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3079 {
  position:absolute;
  left:688px;
  top:307px;
  width:353px;
  height:200px;
  overflow:hidden;
}
#u3079_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:85px;
  font-size:14px;
}
#u3081 {
  position:absolute;
  left:5px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u3082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3083 {
  position:absolute;
  left:58px;
  top:102px;
  width:237px;
  height:95px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:40px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:2px;
}
#u3085 {
  position:absolute;
  left:58px;
  top:160px;
  width:237px;
  height:1px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u3087 {
  position:absolute;
  left:174px;
  top:160px;
  width:1px;
  height:37px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3089 {
  position:absolute;
  left:98px;
  top:171px;
  width:29px;
  height:16px;
}
#u3090 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3091 {
  position:absolute;
  left:212px;
  top:171px;
  width:29px;
  height:16px;
}
#u3092 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3093 {
  position:absolute;
  left:87px;
  top:126px;
  width:182px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3094 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u3095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:85px;
}
#u3095 {
  position:absolute;
  left:688px;
  top:307px;
  width:1px;
  height:84px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
