body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u20038 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:376px;
  height:667px;
}
#u20039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:35px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20040 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:29px;
  width:191px;
  height:35px;
  font-size:20px;
}
#u20041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u20043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u20044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u20046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u20048 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:15px;
  width:33px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u20049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u20050 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:18px;
  height:19px;
}
#u20051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u20052 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:11px;
  width:85px;
  height:25px;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u20053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u20054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20054 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:65px;
  width:273px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u20056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20056 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:117px;
  width:19px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20058 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:115px;
  width:20px;
  height:20px;
}
#u20059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20060 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:116px;
  width:25px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20062 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:116px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:373px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:184.5px 8.5px;
  -ms-transform-origin:184.5px 8.5px;
  -moz-transform-origin:184.5px 8.5px;
  -webkit-transform-origin:184.5px 8.5px;
}
#u20066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20066 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:243px;
  width:273px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u20068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20068 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:304px;
  width:19px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20070 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:302px;
  width:20px;
  height:20px;
}
#u20071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20072 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:303px;
  width:25px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20074 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:303px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20076 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:339px;
  width:373px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:184.5px 8.5px;
  -ms-transform-origin:184.5px 8.5px;
  -moz-transform-origin:184.5px 8.5px;
  -webkit-transform-origin:184.5px 8.5px;
}
#u20078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20078 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:377px;
  width:19px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20080 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:375px;
  width:20px;
  height:20px;
}
#u20081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20082 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:355px;
  width:367px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u20084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20084 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:376px;
  width:25px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20086 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:376px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:373px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:184.5px 8.5px;
  -ms-transform-origin:184.5px 8.5px;
  -moz-transform-origin:184.5px 8.5px;
  -webkit-transform-origin:184.5px 8.5px;
}
#u20090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20090 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:202px;
  width:19px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u20091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20092 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:200px;
  width:20px;
  height:20px;
}
#u20093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20094 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:157px;
  width:362px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#575958;
}
#u20095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u20096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20096 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:201px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20098 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:201px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u20100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:373px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:184.5px 8.5px;
  -ms-transform-origin:184.5px 8.5px;
  -moz-transform-origin:184.5px 8.5px;
  -webkit-transform-origin:184.5px 8.5px;
}
#u20102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u20102 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:60px;
  width:100px;
  height:80px;
}
#u20103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u20104 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:118px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u20105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u20106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:272px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20107 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:323px;
  width:375px;
  height:102px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
