body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:818px;
}
#u1978 {
  position:absolute;
  left:108px;
  top:102px;
  width:1253px;
  height:818px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:401px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:2px;
}
#u1980 {
  position:absolute;
  left:1353px;
  top:769px;
  width:58px;
  height:1px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:84px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1982 {
  position:absolute;
  left:1411px;
  top:728px;
  width:170px;
  height:84px;
  color:#FFFFFF;
}
#u1983 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00B38A;
}
#u1984 {
  position:absolute;
  left:1197px;
  top:684px;
  width:131px;
  height:16px;
  font-size:13px;
  color:#00B38A;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1986 {
  position:absolute;
  left:1180px;
  top:836px;
  width:170px;
  height:50px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:2px;
}
#u1988 {
  position:absolute;
  left:1187px;
  top:835px;
  width:150px;
  height:1px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
