body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u1099 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u1101 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:496px;
  top:384px;
  width:720px;
  height:296px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:140px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1107 {
  position:absolute;
  left:496px;
  top:312px;
  width:720px;
  height:72px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:28px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u1109 {
  position:absolute;
  left:607px;
  top:334px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#0099FF;
}
#u1111 {
  position:absolute;
  left:988px;
  top:334px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#0099FF;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1113 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:668px;
  top:308px;
  width:57px;
  height:4px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:-6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1117 {
  position:absolute;
  left:668px;
  top:252px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u1118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1119 {
  position:absolute;
  left:876px;
  top:252px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u1121 {
  position:absolute;
  left:1084px;
  top:252px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:42px;
}
#u1123 {
  position:absolute;
  left:530px;
  top:243px;
  width:28px;
  height:42px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125 {
  position:absolute;
  left:576px;
  top:312px;
  width:160px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1126 {
  position:absolute;
  left:838px;
  top:216px;
  width:145px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1127 {
  position:absolute;
  left:1040px;
  top:216px;
  width:145px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1128 {
  position:absolute;
  left:517px;
  top:417px;
  width:90px;
  height:90px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130 {
  position:absolute;
  left:625px;
  top:425px;
  width:103px;
  height:44px;
}
#u1130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:44px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u1131 {
  position:absolute;
  left:521px;
  top:528px;
  width:159px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1133 {
  position:absolute;
  left:630px;
  top:479px;
  width:95px;
  height:32px;
}
#u1133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:517px;
  top:576px;
  width:680px;
  height:88px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:36px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136 {
  position:absolute;
  left:532px;
  top:598px;
  width:156px;
  height:44px;
}
#u1136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:44px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1137 {
  position:absolute;
  left:688px;
  top:606px;
  width:217px;
  height:28px;
  font-size:24px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u1139 {
  position:absolute;
  left:1156px;
  top:417px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  position:absolute;
  left:496px;
  top:680px;
  width:720px;
  height:352px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:168px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143 {
  position:absolute;
  left:625px;
  top:721px;
  width:199px;
  height:44px;
}
#u1143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u1144 {
  position:absolute;
  left:521px;
  top:824px;
  width:63px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1146 {
  position:absolute;
  left:630px;
  top:775px;
  width:95px;
  height:32px;
}
#u1146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  position:absolute;
  left:517px;
  top:872px;
  width:680px;
  height:88px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:36px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149 {
  position:absolute;
  left:532px;
  top:894px;
  width:156px;
  height:44px;
}
#u1149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:44px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1150 {
  position:absolute;
  left:517px;
  top:713px;
  width:90px;
  height:90px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1152 {
  position:absolute;
  left:688px;
  top:902px;
  width:307px;
  height:28px;
  font-size:24px;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u1154 {
  position:absolute;
  left:521px;
  top:973px;
  width:319px;
  height:44px;
}
#u1154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:44px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
