body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:27px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3945 {
  position:absolute;
  left:0px;
  top:70px;
  width:1366px;
  height:35px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:10px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3947 {
  position:absolute;
  left:50px;
  top:26px;
  width:130px;
  height:25px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949 {
  position:absolute;
  left:386px;
  top:0px;
  width:100px;
  height:70px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3951 {
  position:absolute;
  left:210px;
  top:23px;
  width:45px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u3953 {
  position:absolute;
  left:427px;
  top:60px;
  width:20px;
  height:10px;
  color:#FFFFFF;
}
#u3954 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3955 {
  position:absolute;
  left:295px;
  top:23px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3957 {
  position:absolute;
  left:410px;
  top:23px;
  width:75px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:296px;
  top:76px;
  width:73px;
  height:24px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3961 {
  position:absolute;
  left:203px;
  top:79px;
  width:68px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3963 {
  position:absolute;
  left:308px;
  top:79px;
  width:73px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:1200px;
  top:23px;
  width:95px;
  height:24px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u3967 {
  position:absolute;
  left:189px;
  top:75px;
  width:73px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3968 {
  position:absolute;
  left:296px;
  top:75px;
  width:73px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3969 {
  position:absolute;
  left:180px;
  top:0px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3970 {
  position:absolute;
  left:288px;
  top:0px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3971 {
  position:absolute;
  left:393px;
  top:0px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3972 {
  position:absolute;
  left:37px;
  top:0px;
  width:140px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:800px;
}
#u3974 {
  position:absolute;
  left:988px;
  top:145px;
  width:384px;
  height:800px;
  text-align:left;
}
#u3975 {
  position:absolute;
  left:2px;
  top:392px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3977 {
  position:absolute;
  left:1022px;
  top:285px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3979 {
  position:absolute;
  left:1037px;
  top:300px;
  width:10px;
  height:17px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:412px;
}
#u3981 {
  position:absolute;
  left:1022px;
  top:419px;
  width:320px;
  height:412px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:198px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u3984 {
  position:absolute;
  left:1028px;
  top:335px;
  width:309px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u3985 {
  position:absolute;
  left:2px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3986 {
  position:absolute;
  left:1161px;
  top:342px;
  width:15px;
  height:15px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3988 {
  position:absolute;
  left:1031px;
  top:369px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3990 {
  position:absolute;
  left:1082px;
  top:371px;
  width:10px;
  height:17px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3992 {
  position:absolute;
  left:1102px;
  top:369px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3994 {
  position:absolute;
  left:1169px;
  top:371px;
  width:10px;
  height:17px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u3996 {
  position:absolute;
  left:1283px;
  top:370px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3998 {
  position:absolute;
  left:1189px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4000 {
  position:absolute;
  left:1256px;
  top:371px;
  width:10px;
  height:17px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4002 {
  position:absolute;
  left:1306px;
  top:299px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u4004 {
  position:absolute;
  left:918px;
  top:535px;
  width:47px;
  height:50px;
  opacity:0.5;
}
#u4005 {
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:800px;
}
#u4007 {
  position:absolute;
  left:46px;
  top:145px;
  width:384px;
  height:800px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:392px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4010 {
  position:absolute;
  left:80px;
  top:285px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u4013 {
  position:absolute;
  left:86px;
  top:335px;
  width:309px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u4014 {
  position:absolute;
  left:2px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4015 {
  position:absolute;
  left:219px;
  top:342px;
  width:15px;
  height:15px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4017 {
  position:absolute;
  left:80px;
  top:327px;
  width:320px;
  height:1px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4019 {
  position:absolute;
  left:130px;
  top:385px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4021 {
  position:absolute;
  left:90px;
  top:419px;
  width:310px;
  height:1px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4023 {
  position:absolute;
  left:90px;
  top:470px;
  width:310px;
  height:1px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4025 {
  position:absolute;
  left:130px;
  top:436px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4027 {
  position:absolute;
  left:130px;
  top:487px;
  width:235px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  position:absolute;
  left:81px;
  top:606px;
  width:319px;
  height:188px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:86px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u4031 {
  position:absolute;
  left:80px;
  top:522px;
  width:320px;
  height:19px;
  color:#949494;
  text-align:left;
}
#u4032 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4033 {
  position:absolute;
  left:128px;
  top:552px;
  width:35px;
  height:35px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4035 {
  position:absolute;
  left:128px;
  top:603px;
  width:35px;
  height:35px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4037 {
  position:absolute;
  left:90px;
  top:594px;
  width:310px;
  height:1px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4039 {
  position:absolute;
  left:170px;
  top:551px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4041 {
  position:absolute;
  left:170px;
  top:571px;
  width:118px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4043 {
  position:absolute;
  left:170px;
  top:603px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4045 {
  position:absolute;
  left:170px;
  top:623px;
  width:118px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4047 {
  position:absolute;
  left:90px;
  top:522px;
  width:310px;
  height:1px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4049 {
  position:absolute;
  left:90px;
  top:380px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u4050 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4051 {
  position:absolute;
  left:90px;
  top:431px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u4052 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4053 {
  position:absolute;
  left:90px;
  top:482px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u4054 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4055 {
  position:absolute;
  left:128px;
  top:652px;
  width:35px;
  height:35px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:170px;
  top:652px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4059 {
  position:absolute;
  left:170px;
  top:672px;
  width:173px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4061 {
  position:absolute;
  left:223px;
  top:654px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4063 {
  position:absolute;
  left:95px;
  top:645px;
  width:310px;
  height:1px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4065 {
  position:absolute;
  left:93px;
  top:299px;
  width:10px;
  height:17px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4067 {
  position:absolute;
  left:359px;
  top:297px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4069 {
  position:absolute;
  left:95px;
  top:562px;
  width:34px;
  height:16px;
}
#u4070 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4071 {
  position:absolute;
  left:95px;
  top:613px;
  width:34px;
  height:16px;
}
#u4072 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4073 {
  position:absolute;
  left:95px;
  top:662px;
  width:34px;
  height:16px;
}
#u4074 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4075 {
  position:absolute;
  left:128px;
  top:706px;
  width:35px;
  height:35px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4077 {
  position:absolute;
  left:90px;
  top:695px;
  width:310px;
  height:1px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4079 {
  position:absolute;
  left:170px;
  top:705px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4081 {
  position:absolute;
  left:170px;
  top:725px;
  width:173px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4083 {
  position:absolute;
  left:223px;
  top:707px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4085 {
  position:absolute;
  left:95px;
  top:714px;
  width:34px;
  height:16px;
}
#u4086 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4087 {
  position:absolute;
  left:80px;
  top:798px;
  width:320px;
  height:33px;
  color:#666666;
  text-align:left;
}
#u4088 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4089 {
  position:absolute;
  left:278px;
  top:803px;
  width:117px;
  height:23px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:800px;
}
#u4092 {
  position:absolute;
  left:507px;
  top:145px;
  width:384px;
  height:800px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:392px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4095 {
  position:absolute;
  left:541px;
  top:285px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4097 {
  position:absolute;
  left:541px;
  top:397px;
  width:320px;
  height:1px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4099 {
  position:absolute;
  left:542px;
  top:606px;
  width:319px;
  height:188px;
}
#u4100 {
  position:absolute;
  left:2px;
  top:86px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4101 {
  position:absolute;
  left:551px;
  top:299px;
  width:10px;
  height:17px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4103 {
  position:absolute;
  left:824px;
  top:297px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4104 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u4106 {
  position:absolute;
  left:547px;
  top:335px;
  width:309px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u4107 {
  position:absolute;
  left:2px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4108 {
  position:absolute;
  left:680px;
  top:342px;
  width:15px;
  height:15px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4110 {
  position:absolute;
  left:550px;
  top:369px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4112 {
  position:absolute;
  left:601px;
  top:371px;
  width:10px;
  height:17px;
}
#u4113 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4114 {
  position:absolute;
  left:625px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4116 {
  position:absolute;
  left:541px;
  top:328px;
  width:320px;
  height:1px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4118 {
  position:absolute;
  left:541px;
  top:798px;
  width:320px;
  height:33px;
  color:#666666;
  text-align:left;
}
#u4119 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  position:absolute;
  left:739px;
  top:803px;
  width:117px;
  height:23px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u4122 {
  position:absolute;
  left:1314px;
  top:400px;
  width:42px;
  height:16px;
}
#u4123 {
  position:absolute;
  left:16px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4124 {
  position:absolute;
  left:1035px;
  top:397px;
  width:29px;
  height:20px;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u4126 {
  position:absolute;
  left:1023px;
  top:393px;
  width:320px;
  height:1px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4128 {
  position:absolute;
  left:128px;
  top:751px;
  width:35px;
  height:35px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4130 {
  position:absolute;
  left:170px;
  top:751px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4132 {
  position:absolute;
  left:170px;
  top:771px;
  width:173px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4134 {
  position:absolute;
  left:223px;
  top:753px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4136 {
  position:absolute;
  left:90px;
  top:744px;
  width:310px;
  height:1px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138 {
  position:absolute;
  left:95px;
  top:761px;
  width:34px;
  height:16px;
}
#u4139 {
  position:absolute;
  left:16px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4140 {
  position:absolute;
  left:591px;
  top:413px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4142 {
  position:absolute;
  left:551px;
  top:408px;
  width:30px;
  height:30px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4144 {
  position:absolute;
  left:551px;
  top:447px;
  width:310px;
  height:1px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4146 {
  position:absolute;
  left:551px;
  top:500px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u4147 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4148 {
  position:absolute;
  left:591px;
  top:505px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4150 {
  position:absolute;
  left:591px;
  top:465px;
  width:149px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4151 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4152 {
  position:absolute;
  left:551px;
  top:494px;
  width:310px;
  height:1px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u4154 {
  position:absolute;
  left:568px;
  top:474px;
  width:14px;
  height:1px;
}
#u4155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4156 {
  position:absolute;
  left:568px;
  top:461px;
  width:1px;
  height:14px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4158 {
  position:absolute;
  left:590px;
  top:548px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u4160 {
  position:absolute;
  left:551px;
  top:537px;
  width:310px;
  height:1px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u4162 {
  position:absolute;
  left:567px;
  top:558px;
  width:14px;
  height:1px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:-8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4164 {
  position:absolute;
  left:567px;
  top:545px;
  width:1px;
  height:14px;
}
#u4165 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u4166 {
  position:absolute;
  left:750px;
  top:465px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u4167 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u4168 {
  position:absolute;
  left:699px;
  top:548px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u4169 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u4170 {
  position:absolute;
  left:450px;
  top:535px;
  width:47px;
  height:50px;
  opacity:0.5;
}
#u4171 {
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
