body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  position:absolute;
  left:12px;
  top:8px;
  width:1462px;
  height:234px;
}
#u448 {
  position:absolute;
  left:2px;
  top:109px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u449 {
  position:absolute;
  left:35px;
  top:50px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  position:absolute;
  left:35px;
  top:100px;
  width:102px;
  height:72px;
}
#u452 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  position:absolute;
  left:279px;
  top:100px;
  width:102px;
  height:72px;
}
#u454 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u455 {
  position:absolute;
  left:137px;
  top:136px;
  width:0px;
  height:0px;
}
#u455_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u455_seg1 {
  position:absolute;
  left:129px;
  top:-10px;
  width:20px;
  height:20px;
}
#u456 {
  position:absolute;
  left:21px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u457 {
  position:absolute;
  left:536px;
  top:100px;
  width:102px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u458 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u459 {
  position:absolute;
  left:381px;
  top:136px;
  width:0px;
  height:0px;
}
#u459_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u459_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u460 {
  position:absolute;
  left:28px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u461 {
  position:absolute;
  left:823px;
  top:100px;
  width:102px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u463 {
  position:absolute;
  left:638px;
  top:136px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:189px;
  height:8px;
}
#u463_seg1 {
  position:absolute;
  left:172px;
  top:-10px;
  width:20px;
  height:20px;
}
#u464 {
  position:absolute;
  left:42px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u465 {
  position:absolute;
  left:925px;
  top:136px;
  width:0px;
  height:0px;
}
#u465_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:155px;
  height:8px;
}
#u465_seg1 {
  position:absolute;
  left:138px;
  top:-10px;
  width:20px;
  height:20px;
}
#u466 {
  position:absolute;
  left:26px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u467 {
  position:absolute;
  left:1076px;
  top:100px;
  width:102px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u468 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:1275px;
  top:100px;
  width:102px;
  height:72px;
}
#u470 {
  position:absolute;
  left:2px;
  top:27px;
  width:98px;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:1178px;
  top:136px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u471_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u472 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
