body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:826px;
}
#u1990 {
  position:absolute;
  left:128px;
  top:117px;
  width:1250px;
  height:826px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:405px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:2px;
}
#u1992 {
  position:absolute;
  left:1378px;
  top:791px;
  width:58px;
  height:1px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:84px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:1436px;
  top:750px;
  width:170px;
  height:84px;
  color:#FFFFFF;
}
#u1995 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00B38A;
}
#u1996 {
  position:absolute;
  left:1222px;
  top:706px;
  width:131px;
  height:16px;
  font-size:13px;
  color:#00B38A;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1998 {
  position:absolute;
  left:1205px;
  top:852px;
  width:170px;
  height:50px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:2px;
}
#u2000 {
  position:absolute;
  left:1212px;
  top:851px;
  width:150px;
  height:1px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
