body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u6927 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u6929 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6931 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u6932 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6933 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:42px;
}
#u6936 {
  position:absolute;
  left:512px;
  top:245px;
  width:28px;
  height:42px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938 {
  position:absolute;
  left:564px;
  top:250px;
  width:76px;
  height:32px;
}
#u6938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6939 {
  position:absolute;
  left:546px;
  top:368px;
  width:300px;
  height:300px;
}
#u6940 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6941 {
  position:absolute;
  left:866px;
  top:368px;
  width:300px;
  height:300px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6943 {
  position:absolute;
  left:546px;
  top:688px;
  width:300px;
  height:300px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6945 {
  position:absolute;
  left:866px;
  top:688px;
  width:300px;
  height:300px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6947 {
  position:absolute;
  left:546px;
  top:1008px;
  width:300px;
  height:300px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6949 {
  position:absolute;
  left:866px;
  top:1008px;
  width:300px;
  height:300px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6951 {
  position:absolute;
  left:916px;
  top:1058px;
  width:200px;
  height:200px;
}
#u6952 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6953 {
  position:absolute;
  left:596px;
  top:1058px;
  width:200px;
  height:200px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6955 {
  position:absolute;
  left:916px;
  top:738px;
  width:200px;
  height:200px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6957 {
  position:absolute;
  left:596px;
  top:738px;
  width:200px;
  height:200px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6959 {
  position:absolute;
  left:916px;
  top:418px;
  width:200px;
  height:200px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u6961 {
  position:absolute;
  left:596px;
  top:418px;
  width:200px;
  height:200px;
  color:#003366;
}
#u6962 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6963 {
  position:absolute;
  left:667px;
  top:625px;
  width:58px;
  height:34px;
  font-size:28px;
}
#u6964 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u6965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6965 {
  position:absolute;
  left:667px;
  top:945px;
  width:65px;
  height:34px;
  font-size:28px;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6967 {
  position:absolute;
  left:667px;
  top:1265px;
  width:56px;
  height:34px;
  font-size:28px;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6969 {
  position:absolute;
  left:960px;
  top:625px;
  width:112px;
  height:34px;
  font-size:28px;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6971 {
  position:absolute;
  left:960px;
  top:945px;
  width:112px;
  height:34px;
  font-size:28px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6973 {
  position:absolute;
  left:960px;
  top:1265px;
  width:112px;
  height:34px;
  font-size:28px;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
