body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:102px;
  top:98px;
  width:670px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:102px;
  top:126px;
  width:646px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
