body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u5443 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u5444 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u5445 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u5446 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5447 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u5448 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u5449 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u5450 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:42px;
}
#u5451 {
  position:absolute;
  left:512px;
  top:245px;
  width:28px;
  height:42px;
}
#u5452 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5453 {
  position:absolute;
  left:568px;
  top:247px;
  width:152px;
  height:37px;
}
#u5453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5455_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:120px;
  height:120px;
}
#u5455 {
  position:absolute;
  left:1079px;
  top:1303px;
  width:100px;
  height:100px;
}
#u5456 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5457_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:53px;
  height:53px;
}
#u5457 {
  position:absolute;
  left:1115px;
  top:1339px;
  width:28px;
  height:28px;
}
#u5458 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_img {
  position:absolute;
  left:-7px;
  top:-7px;
  width:53px;
  height:53px;
}
#u5459 {
  position:absolute;
  left:1115px;
  top:1339px;
  width:28px;
  height:28px;
}
#u5460 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5461_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:92px;
}
#u5461 {
  position:absolute;
  left:1093px;
  top:1191px;
  width:72px;
  height:72px;
}
#u5462 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5463_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:92px;
}
#u5463 {
  position:absolute;
  left:1093px;
  top:1078px;
  width:72px;
  height:72px;
}
#u5464 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u5465 {
  position:absolute;
  left:1111px;
  top:1099px;
  width:36px;
  height:31px;
  color:#FFFFFF;
}
#u5466 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5468_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:92px;
  height:92px;
}
#u5468 {
  position:absolute;
  left:1093px;
  top:966px;
  width:72px;
  height:72px;
}
#u5469 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u5470 {
  position:absolute;
  left:1117px;
  top:981px;
  width:25px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u5471 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:36px;
}
#u5472 {
  position:absolute;
  left:1117px;
  top:1209px;
  width:24px;
  height:36px;
}
#u5473 {
  position:absolute;
  left:2px;
  top:10px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:44px;
}
#u5474 {
  position:absolute;
  left:1180px;
  top:245px;
  width:12px;
  height:44px;
}
#u5475 {
  position:absolute;
  left:2px;
  top:14px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5476 {
  position:absolute;
  left:1304px;
  top:239px;
  width:300px;
  height:72px;
}
#u5477 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5478 {
  position:absolute;
  left:1304px;
  top:311px;
  width:300px;
  height:72px;
}
#u5479 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5480 {
  position:absolute;
  left:1304px;
  top:383px;
  width:300px;
  height:72px;
}
#u5481 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5482 {
  position:absolute;
  left:1304px;
  top:455px;
  width:300px;
  height:72px;
}
#u5483 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u5484 {
  position:absolute;
  left:1430px;
  top:261px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u5485 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u5486 {
  position:absolute;
  left:1430px;
  top:333px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u5487 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u5488 {
  position:absolute;
  left:1430px;
  top:405px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u5489 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u5490 {
  position:absolute;
  left:1430px;
  top:477px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u5491 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
