body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:138px;
  top:10px;
  width:375px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:169px;
  top:109px;
  width:321px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:168px;
  top:135px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:167px;
  top:170px;
  width:321px;
  height:480px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:480px;
}
#u7 {
  position:absolute;
  left:2px;
  top:232px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:317px;
  top:140px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:175px;
  top:137px;
  width:44px;
  height:27px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:432px;
  top:135px;
  width:48px;
  height:31px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:237px;
  width:8px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:304px;
  top:345px;
  width:59px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:238px;
  top:424px;
  width:212px;
  height:32px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:296px;
  top:284px;
  width:60px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
