body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:988px;
}
#u1922 {
  position:absolute;
  left:100px;
  top:180px;
  width:1920px;
  height:988px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:486px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:1495px;
  top:433px;
  width:182px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B38A;
  text-align:right;
}
#u1926 {
  position:absolute;
  left:1616px;
  top:572px;
  width:144px;
  height:16px;
  color:#00B38A;
  text-align:right;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B38A;
  text-align:right;
}
#u1928 {
  position:absolute;
  left:1616px;
  top:712px;
  width:144px;
  height:16px;
  color:#00B38A;
  text-align:right;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B38A;
  text-align:right;
}
#u1930 {
  position:absolute;
  left:1601px;
  top:850px;
  width:144px;
  height:16px;
  color:#00B38A;
  text-align:right;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B38A;
  text-align:right;
}
#u1932 {
  position:absolute;
  left:1601px;
  top:990px;
  width:144px;
  height:16px;
  color:#00B38A;
  text-align:right;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:1579px;
  top:572px;
  width:182px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:1578px;
  top:711px;
  width:182px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1938 {
  position:absolute;
  left:1564px;
  top:850px;
  width:182px;
  height:16px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:1564px;
  top:990px;
  width:182px;
  height:16px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  position:absolute;
  left:1570px;
  top:469px;
  width:126px;
  height:126px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:55px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1945 {
  position:absolute;
  left:1614px;
  top:450px;
  width:39px;
  height:20px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u1947 {
  position:absolute;
  left:1584px;
  top:483px;
  width:99px;
  height:99px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:2px;
}
#u1949 {
  position:absolute;
  left:1614px;
  top:469px;
  width:39px;
  height:1px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1951 {
  position:absolute;
  left:1619px;
  top:403px;
  width:30px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1953 {
  position:absolute;
  left:1520px;
  top:403px;
  width:30px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:225px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1955 {
  position:absolute;
  left:2071px;
  top:306px;
  width:245px;
  height:225px;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:2px;
}
#u1957 {
  position:absolute;
  left:1649px;
  top:418px;
  width:422px;
  height:1px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:240px;
}
#u1959 {
  position:absolute;
  left:1534px;
  top:164px;
  width:1px;
  height:239px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:112px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
  text-align:center;
}
#u1961 {
  position:absolute;
  left:1449px;
  top:124px;
  width:172px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u1962 {
  position:absolute;
  left:10px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
