body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:231px;
  top:10px;
  width:369px;
  height:764px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:258px;
  top:144px;
  width:318px;
  height:525px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:525px;
}
#u3 {
  position:absolute;
  left:2px;
  top:254px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:401px;
  top:150px;
  width:35px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:258px;
  top:118px;
  width:319px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:276px;
  top:322px;
  width:284px;
  height:36px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u9 {
  position:absolute;
  left:276px;
  top:372px;
  width:284px;
  height:36px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u10 {
  position:absolute;
  left:376px;
  top:240px;
  width:66px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:381px;
  top:208px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:282px;
  top:444px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:329px;
  top:639px;
  width:200px;
  height:17px;
  font-size:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:494px;
  top:418px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
