body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u1931 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u1933 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1935 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u1937 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1940 {
  position:absolute;
  left:784px;
  top:244px;
  width:23px;
  height:36px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u1942 {
  position:absolute;
  left:908px;
  top:257px;
  width:24px;
  height:15px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:817px;
  top:238px;
  width:86px;
  height:48px;
}
#u1944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1946 {
  position:absolute;
  left:504px;
  top:322px;
  width:704px;
  height:166px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1948 {
  position:absolute;
  left:513px;
  top:340px;
  width:64px;
  height:32px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:525px;
  top:344px;
  width:40px;
  height:24px;
}
#u1950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1951 {
  position:absolute;
  left:1100px;
  top:448px;
  width:18px;
  height:24px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953 {
  position:absolute;
  left:1128px;
  top:442px;
  width:64px;
  height:36px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1954 {
  position:absolute;
  left:587px;
  top:336px;
  width:494px;
  height:40px;
}
#u1954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1955 {
  position:absolute;
  left:587px;
  top:432px;
  width:304px;
  height:40px;
}
#u1955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1956 {
  position:absolute;
  left:504px;
  top:498px;
  width:704px;
  height:166px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1958 {
  position:absolute;
  left:1093px;
  top:622px;
  width:18px;
  height:24px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960 {
  position:absolute;
  left:1121px;
  top:620px;
  width:78px;
  height:28px;
}
#u1960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1961 {
  position:absolute;
  left:513px;
  top:512px;
  width:494px;
  height:40px;
}
#u1961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1962 {
  position:absolute;
  left:513px;
  top:608px;
  width:304px;
  height:40px;
}
#u1962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1963 {
  position:absolute;
  left:504px;
  top:674px;
  width:704px;
  height:166px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:513px;
  top:689px;
  width:494px;
  height:40px;
}
#u1965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1966 {
  position:absolute;
  left:513px;
  top:785px;
  width:304px;
  height:40px;
}
#u1966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1967 {
  position:absolute;
  left:1093px;
  top:792px;
  width:18px;
  height:24px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:1121px;
  top:790px;
  width:78px;
  height:28px;
}
#u1969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1970 {
  position:absolute;
  left:504px;
  top:850px;
  width:704px;
  height:166px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:513px;
  top:865px;
  width:494px;
  height:40px;
}
#u1972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1973 {
  position:absolute;
  left:513px;
  top:961px;
  width:304px;
  height:40px;
}
#u1973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1974 {
  position:absolute;
  left:1093px;
  top:968px;
  width:18px;
  height:24px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:1121px;
  top:966px;
  width:78px;
  height:28px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1977 {
  position:absolute;
  left:504px;
  top:1026px;
  width:704px;
  height:166px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979 {
  position:absolute;
  left:513px;
  top:1041px;
  width:494px;
  height:40px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1980 {
  position:absolute;
  left:513px;
  top:1137px;
  width:304px;
  height:40px;
}
#u1980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1981 {
  position:absolute;
  left:1093px;
  top:1144px;
  width:18px;
  height:24px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983 {
  position:absolute;
  left:1121px;
  top:1142px;
  width:78px;
  height:28px;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1984 {
  position:absolute;
  left:504px;
  top:1202px;
  width:704px;
  height:166px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:75px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986 {
  position:absolute;
  left:513px;
  top:1217px;
  width:494px;
  height:40px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1987 {
  position:absolute;
  left:513px;
  top:1313px;
  width:304px;
  height:40px;
}
#u1987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u1988 {
  position:absolute;
  left:1093px;
  top:1320px;
  width:18px;
  height:24px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990 {
  position:absolute;
  left:1121px;
  top:1318px;
  width:78px;
  height:28px;
}
#u1990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:42px;
}
#u1991 {
  position:absolute;
  left:512px;
  top:245px;
  width:28px;
  height:42px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:13px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
