body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:82px;
}
#u2072 {
  position:absolute;
  left:146px;
  top:139px;
  width:409px;
  height:82px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:33px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:27px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2074 {
  position:absolute;
  left:272px;
  top:184px;
  width:167px;
  height:27px;
  font-size:18px;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:0px;
  top:2px;
  width:167px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:599px;
}
#u2076 {
  position:absolute;
  left:146px;
  top:221px;
  width:409px;
  height:598px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:291px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
