body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:172px;
  width:361px;
  height:642px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:642px;
}
#u1 {
  position:absolute;
  left:2px;
  top:313px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:38px;
  width:49px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:57px;
  top:200px;
  width:34px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:747px;
  width:359px;
  height:66px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:66px;
}
#u7 {
  position:absolute;
  left:2px;
  top:25px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:510px;
  top:172px;
  width:173px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:510px;
  top:198px;
  width:120px;
  height:25px;
  line-height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:191px;
  width:40px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
