body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u202 {
  position:absolute;
  left:2278px;
  top:115px;
  width:431px;
  height:882px;
}
#u203 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u204 {
  position:absolute;
  left:115px;
  top:115px;
  width:431px;
  height:882px;
}
#u205 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u206 {
  position:absolute;
  left:140px;
  top:218px;
  width:380px;
  height:676px;
}
#u207 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u208 {
  position:absolute;
  left:669px;
  top:115px;
  width:431px;
  height:882px;
}
#u209 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u210 {
  position:absolute;
  left:694px;
  top:218px;
  width:380px;
  height:676px;
}
#u211 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u212 {
  position:absolute;
  left:720px;
  top:406px;
  width:146px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u214 {
  position:absolute;
  left:720px;
  top:555px;
  width:167px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u216 {
  position:absolute;
  left:720px;
  top:702px;
  width:167px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u218 {
  position:absolute;
  left:720px;
  top:849px;
  width:167px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#505C6D;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:503px;
  top:361px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:171px;
  height:8px;
}
#u220_seg1 {
  position:absolute;
  left:154px;
  top:-10px;
  width:20px;
  height:20px;
}
#u221 {
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u222 {
  position:absolute;
  left:1213px;
  top:115px;
  width:431px;
  height:882px;
}
#u223 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u224 {
  position:absolute;
  left:1238px;
  top:218px;
  width:380px;
  height:676px;
}
#u225 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u226 {
  position:absolute;
  left:1325px;
  top:709px;
  width:179px;
  height:38px;
  text-align:center;
}
#u227 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u228 {
  position:absolute;
  left:1747px;
  top:115px;
  width:431px;
  height:882px;
}
#u229 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u230 {
  position:absolute;
  left:1772px;
  top:218px;
  width:380px;
  height:676px;
}
#u231 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#2396F2;
}
#u232 {
  position:absolute;
  left:1959px;
  top:321px;
  width:31px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#2396F2;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:540px;
  background:inherit;
  background-color:rgba(247, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 247, 249, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:1772px;
  top:354px;
  width:380px;
  height:540px;
}
#u235 {
  position:absolute;
  left:2px;
  top:262px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1596px;
  top:859px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u236_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:112px;
  height:8px;
}
#u236_seg2 {
  position:absolute;
  left:100px;
  top:-528px;
  width:8px;
  height:532px;
}
#u236_seg3 {
  position:absolute;
  left:100px;
  top:-528px;
  width:76px;
  height:8px;
}
#u236_seg4 {
  position:absolute;
  left:163px;
  top:-534px;
  width:20px;
  height:20px;
}
#u237 {
  position:absolute;
  left:54px;
  top:-254px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u238 {
  position:absolute;
  left:2303px;
  top:218px;
  width:380px;
  height:676px;
}
#u239 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:2134px;
  top:335px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u240_seg1 {
  position:absolute;
  left:132px;
  top:-10px;
  width:20px;
  height:20px;
}
#u241 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u242 {
  position:absolute;
  left:1747px;
  top:1080px;
  width:431px;
  height:882px;
}
#u243 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u244 {
  position:absolute;
  left:1772px;
  top:1183px;
  width:380px;
  height:676px;
}
#u245 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:126px;
  background:inherit;
  background-color:rgba(247, 247, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 247, 249, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:1772px;
  top:1733px;
  width:380px;
  height:126px;
}
#u247 {
  position:absolute;
  left:2px;
  top:55px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:2040px;
  top:1408px;
  width:105px;
  height:32px;
}
#u249 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u250 {
  position:absolute;
  left:1873px;
  top:1777px;
  width:179px;
  height:38px;
  text-align:center;
}
#u251 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1415px;
  top:747px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:778px;
}
#u252_seg1 {
  position:absolute;
  left:-4px;
  top:770px;
  width:336px;
  height:8px;
}
#u252_seg2 {
  position:absolute;
  left:319px;
  top:764px;
  width:20px;
  height:20px;
}
#u253 {
  position:absolute;
  left:-50px;
  top:545px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u254 {
  position:absolute;
  left:777px;
  top:128px;
  width:215px;
  height:80px;
  font-size:14px;
}
#u255 {
  position:absolute;
  left:10px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u256 {
  position:absolute;
  left:1857px;
  top:379px;
  width:210px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u257 {
  position:absolute;
  left:10px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
