body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1215px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:3266px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  position:absolute;
  left:495px;
  top:44px;
  width:720px;
  height:3266px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:1625px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:126px;
}
#u2954 {
  position:absolute;
  left:495px;
  top:122px;
  width:720px;
  height:125px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:54px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:184px;
}
#u2956 {
  position:absolute;
  left:495px;
  top:50px;
  width:720px;
  height:183px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:84px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u2958 {
  position:absolute;
  left:646px;
  top:171px;
  width:61px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:646px;
  top:228px;
  width:61px;
  height:4px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u2962 {
  position:absolute;
  left:1006px;
  top:171px;
  width:61px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u2963 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
}
#u2964 {
  position:absolute;
  left:516px;
  top:255px;
  width:680px;
  height:716px;
}
#u2965 {
  position:absolute;
  left:2px;
  top:350px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:320px;
}
#u2966 {
  position:absolute;
  left:516px;
  top:324px;
  width:680px;
  height:320px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:152px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u2968 {
  position:absolute;
  left:553px;
  top:273px;
  width:417px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u2970 {
  position:absolute;
  left:553px;
  top:708px;
  width:615px;
  height:72px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u2971 {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  white-space:nowrap;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2972 {
  position:absolute;
  left:553px;
  top:797px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u2973 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2974 {
  position:absolute;
  left:656px;
  top:797px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u2975 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u2976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2976 {
  position:absolute;
  left:759px;
  top:797px;
  width:113px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u2977 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u2978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978 {
  position:absolute;
  left:825px;
  top:852px;
  width:334px;
  height:10px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:-3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2980 {
  position:absolute;
  left:553px;
  top:925px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u2982 {
  position:absolute;
  left:553px;
  top:880px;
  width:73px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2984 {
  position:absolute;
  left:800px;
  top:925px;
  width:11px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u2986 {
  position:absolute;
  left:803px;
  top:880px;
  width:69px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2988 {
  position:absolute;
  left:1078px;
  top:925px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u2990 {
  position:absolute;
  left:1078px;
  top:880px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u2991 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u2992 {
  position:absolute;
  left:803px;
  top:925px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u2993 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u2994 {
  position:absolute;
  left:553px;
  top:671px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u2996 {
  position:absolute;
  left:656px;
  top:671px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u2998 {
  position:absolute;
  left:668px;
  top:662px;
  width:109px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u2999 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3000 {
  position:absolute;
  left:808px;
  top:671px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3001 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3002 {
  position:absolute;
  left:820px;
  top:662px;
  width:91px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3003 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3004 {
  position:absolute;
  left:786px;
  top:671px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
}
#u3006 {
  position:absolute;
  left:515px;
  top:994px;
  width:680px;
  height:716px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:350px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:320px;
}
#u3008 {
  position:absolute;
  left:515px;
  top:1063px;
  width:680px;
  height:320px;
}
#u3009 {
  position:absolute;
  left:2px;
  top:152px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3010 {
  position:absolute;
  left:552px;
  top:1012px;
  width:245px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3011 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u3012_img {
  position:absolute;
  left:-15px;
  top:-13px;
  width:710px;
  height:116px;
}
#u3012 {
  position:absolute;
  left:516px;
  top:558px;
  width:680px;
  height:86px;
}
#u3013 {
  position:absolute;
  left:2px;
  top:35px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3014 {
  position:absolute;
  left:1155px;
  top:80px;
  width:40px;
  height:40px;
}
#u3015 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3016 {
  position:absolute;
  left:510px;
  top:68px;
  width:60px;
  height:60px;
}
#u3017 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018 {
  position:absolute;
  left:779px;
  top:72px;
  width:152px;
  height:56px;
}
#u3018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:56px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3019 {
  position:absolute;
  left:552px;
  top:1449px;
  width:554px;
  height:36px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  white-space:nowrap;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3021 {
  position:absolute;
  left:552px;
  top:1538px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3022 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3023 {
  position:absolute;
  left:655px;
  top:1538px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3024 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3025 {
  position:absolute;
  left:758px;
  top:1538px;
  width:113px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3026 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:10px;
  background:-webkit-linear-gradient(180deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3027 {
  position:absolute;
  left:552px;
  top:1593px;
  width:606px;
  height:10px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:-3px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3029 {
  position:absolute;
  left:552px;
  top:1666px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3031 {
  position:absolute;
  left:552px;
  top:1621px;
  width:91px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3032 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3033 {
  position:absolute;
  left:799px;
  top:1666px;
  width:11px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u3034 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3035 {
  position:absolute;
  left:802px;
  top:1621px;
  width:51px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3036 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3037 {
  position:absolute;
  left:1077px;
  top:1666px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3038 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3039 {
  position:absolute;
  left:1077px;
  top:1621px;
  width:83px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3040 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u3041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3041 {
  position:absolute;
  left:802px;
  top:1666px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3042 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3043 {
  position:absolute;
  left:552px;
  top:1412px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3044 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3045 {
  position:absolute;
  left:655px;
  top:1412px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3047 {
  position:absolute;
  left:667px;
  top:1403px;
  width:109px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3048 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3049 {
  position:absolute;
  left:807px;
  top:1412px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3051 {
  position:absolute;
  left:819px;
  top:1403px;
  width:109px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3052 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3053 {
  position:absolute;
  left:785px;
  top:1412px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3054 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:100px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3055 {
  position:absolute;
  left:553px;
  top:852px;
  width:372px;
  height:10px;
}
#u3056 {
  position:absolute;
  left:2px;
  top:-3px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
}
#u3057 {
  position:absolute;
  left:515px;
  top:1734px;
  width:680px;
  height:716px;
}
#u3058 {
  position:absolute;
  left:2px;
  top:350px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:321px;
}
#u3059 {
  position:absolute;
  left:515px;
  top:1803px;
  width:680px;
  height:321px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:152px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3061 {
  position:absolute;
  left:552px;
  top:1752px;
  width:481px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3063 {
  position:absolute;
  left:552px;
  top:2189px;
  width:581px;
  height:72px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3064 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  white-space:nowrap;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3065 {
  position:absolute;
  left:552px;
  top:2278px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3066 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3067 {
  position:absolute;
  left:655px;
  top:2278px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3068 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3069 {
  position:absolute;
  left:758px;
  top:2278px;
  width:113px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3070 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3071 {
  position:absolute;
  left:552px;
  top:2406px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3073 {
  position:absolute;
  left:552px;
  top:2361px;
  width:37px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3074 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3075 {
  position:absolute;
  left:799px;
  top:2406px;
  width:11px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3077 {
  position:absolute;
  left:802px;
  top:2361px;
  width:51px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3079 {
  position:absolute;
  left:1077px;
  top:2406px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3081 {
  position:absolute;
  left:1077px;
  top:2361px;
  width:65px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3082 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3083 {
  position:absolute;
  left:802px;
  top:2406px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3084 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3085 {
  position:absolute;
  left:552px;
  top:2152px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3087 {
  position:absolute;
  left:655px;
  top:2152px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3089 {
  position:absolute;
  left:667px;
  top:2143px;
  width:73px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3091 {
  position:absolute;
  left:762px;
  top:2152px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3092 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3093 {
  position:absolute;
  left:774px;
  top:2143px;
  width:73px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3094 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3095 {
  position:absolute;
  left:745px;
  top:2152px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3096 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u3097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3097 {
  position:absolute;
  left:834px;
  top:2333px;
  width:334px;
  height:10px;
}
#u3098 {
  position:absolute;
  left:2px;
  top:-3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:64px;
}
#u3099 {
  position:absolute;
  left:515px;
  top:1802px;
  width:680px;
  height:64px;
}
#u3100 {
  position:absolute;
  left:2px;
  top:24px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:100px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3101 {
  position:absolute;
  left:552px;
  top:2333px;
  width:456px;
  height:10px;
}
#u3102 {
  position:absolute;
  left:2px;
  top:-3px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3103_img {
  position:absolute;
  left:-15px;
  top:-13px;
  width:710px;
  height:116px;
}
#u3103 {
  position:absolute;
  left:516px;
  top:3224px;
  width:680px;
  height:86px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:35px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px -2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u3105 {
  position:absolute;
  left:495px;
  top:3214px;
  width:720px;
  height:96px;
}
#u3106 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3108 {
  position:absolute;
  left:745px;
  top:3268px;
  width:61px;
  height:43px;
}
#u3108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:43px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u3109 {
  position:absolute;
  left:744px;
  top:3234px;
  width:47px;
  height:40px;
}
#u3110 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3112 {
  position:absolute;
  left:1088px;
  top:3274px;
  width:107px;
  height:36px;
}
#u3112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u3113 {
  position:absolute;
  left:1107px;
  top:3227px;
  width:40px;
  height:47px;
}
#u3114 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3116 {
  position:absolute;
  left:560px;
  top:3274px;
  width:48px;
  height:33px;
}
#u3116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u3117 {
  position:absolute;
  left:558px;
  top:3234px;
  width:50px;
  height:40px;
}
#u3118 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3120 {
  position:absolute;
  left:904px;
  top:3276px;
  width:86px;
  height:34px;
}
#u3120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#0099FF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u3121 {
  position:absolute;
  left:924px;
  top:3232px;
  width:47px;
  height:44px;
}
#u3122 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u3123 {
  position:absolute;
  left:495px;
  top:0px;
  width:720px;
  height:50px;
}
#u3124 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:716px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 2px 15px rgba(51, 51, 51, 0.349019607843137);
}
#u3125 {
  position:absolute;
  left:515px;
  top:2474px;
  width:680px;
  height:716px;
}
#u3126 {
  position:absolute;
  left:2px;
  top:350px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:321px;
}
#u3127 {
  position:absolute;
  left:515px;
  top:2542px;
  width:680px;
  height:321px;
}
#u3128 {
  position:absolute;
  left:2px;
  top:152px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3129 {
  position:absolute;
  left:552px;
  top:2492px;
  width:385px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u3131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3131 {
  position:absolute;
  left:552px;
  top:2929px;
  width:601px;
  height:72px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u3132 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  white-space:nowrap;
}
#u3133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3133 {
  position:absolute;
  left:552px;
  top:3018px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3134 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3135 {
  position:absolute;
  left:647px;
  top:3018px;
  width:86px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3136 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u3137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3137 {
  position:absolute;
  left:748px;
  top:3018px;
  width:78px;
  height:38px;
  font-size:20px;
  color:#666666;
}
#u3138 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u3139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3139 {
  position:absolute;
  left:552px;
  top:3146px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3141 {
  position:absolute;
  left:552px;
  top:3101px;
  width:37px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3142 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3143 {
  position:absolute;
  left:799px;
  top:3146px;
  width:11px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u3144 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u3145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3145 {
  position:absolute;
  left:802px;
  top:3101px;
  width:51px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3146 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3147 {
  position:absolute;
  left:1077px;
  top:3146px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3148 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#666666;
}
#u3149 {
  position:absolute;
  left:1077px;
  top:3101px;
  width:83px;
  height:37px;
  font-size:32px;
  color:#666666;
}
#u3150 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u3151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u3151 {
  position:absolute;
  left:802px;
  top:3146px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u3152 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3153 {
  position:absolute;
  left:552px;
  top:2892px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3154 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3155 {
  position:absolute;
  left:655px;
  top:2892px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3156 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3157 {
  position:absolute;
  left:667px;
  top:2883px;
  width:73px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3158 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3159 {
  position:absolute;
  left:762px;
  top:2892px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3160 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#000000;
}
#u3161 {
  position:absolute;
  left:774px;
  top:2883px;
  width:109px;
  height:37px;
  font-size:32px;
  color:#000000;
}
#u3162 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3163 {
  position:absolute;
  left:745px;
  top:2892px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u3164 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u3165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:10px;
  background:-webkit-linear-gradient(180deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  background:linear-gradient(270deg, rgba(0, 204, 255, 1) 0%, rgba(0, 204, 255, 1) 0%, rgba(153, 0, 153, 1) 100%, rgba(153, 0, 153, 1) 100%);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3165 {
  position:absolute;
  left:552px;
  top:3073px;
  width:606px;
  height:10px;
}
#u3166 {
  position:absolute;
  left:2px;
  top:-3px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
