body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:741px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:882px;
}
#u0 {
  position:absolute;
  left:85px;
  top:91px;
  width:431px;
  height:882px;
}
#u1 {
  position:absolute;
  left:2px;
  top:433px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u2 {
  position:absolute;
  left:110px;
  top:194px;
  width:380px;
  height:676px;
}
#u3 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#DBF7FD;
}
#u4 {
  position:absolute;
  left:265px;
  top:224px;
  width:69px;
  height:24px;
  font-size:17px;
  color:#DBF7FD;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:626px;
}
#u6 {
  position:absolute;
  left:110px;
  top:194px;
  width:380px;
  height:626px;
}
#u7 {
  position:absolute;
  left:2px;
  top:305px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(253, 253, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2495F3;
}
#u8 {
  position:absolute;
  left:351px;
  top:847px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2495F3;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(253, 253, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:365px;
  top:824px;
  width:21px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u12 {
  position:absolute;
  left:365px;
  top:826px;
  width:22px;
  height:19px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  background:inherit;
  background-color:rgba(33, 150, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 150, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:428px;
  top:224px;
  width:62px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  background:inherit;
  background-color:rgba(33, 150, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 150, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:119px;
  top:219px;
  width:62px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u18 {
  position:absolute;
  left:419px;
  top:312px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BABCBD;
  text-align:right;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:475px;
  top:330px;
  width:266px;
  height:92px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:10px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
