body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u1652 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:898px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:441px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 160, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:39px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:12px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1656 {
  position:absolute;
  left:17px;
  top:7px;
  width:24px;
  height:25px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1658 {
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:20px;
  font-family:'ArialNarrow-Bold', 'Arial Narrow Bold', 'Arial Narrow';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1660 {
  position:absolute;
  left:50px;
  top:10px;
  width:46px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(32, 160, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1662 {
  position:absolute;
  left:153px;
  top:10px;
  width:29px;
  height:20px;
  font-family:'ArialNarrow', 'Arial Narrow';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:858px;
}
#u1664 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:858px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:421px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1666 {
  position:absolute;
  left:0px;
  top:39px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1666_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1666.selected {
}
#u1667 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1668 {
  position:absolute;
  left:0px;
  top:73px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1668_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1668.selected {
}
#u1669 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1670 {
  position:absolute;
  left:0px;
  top:107px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1670_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1670.selected {
}
#u1671 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(31, 46, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 46, 62, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1672 {
  position:absolute;
  left:0px;
  top:141px;
  width:199px;
  height:35px;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1672_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(68, 68, 68, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#BBBBBB;
  text-align:left;
}
#u1672.selected {
}
#u1673 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:577px;
}
#u1674 {
  position:absolute;
  left:199px;
  top:39px;
  width:1165px;
  height:577px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:280px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:491px;
}
#u1676 {
  position:absolute;
  left:199px;
  top:615px;
  width:1163px;
  height:491px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:238px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678 {
  position:absolute;
  left:1261px;
  top:87px;
  width:89px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
