body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:314px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:314px;
}
#u95 {
  position:absolute;
  left:0px;
  top:336px;
  width:546px;
  height:314px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:314px;
}
#u96 {
  position:absolute;
  left:560px;
  top:0px;
  width:375px;
  height:650px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:650px;
}
