body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34842 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:270px;
  width:100px;
  height:60px;
}
#u34843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34844 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:270px;
  width:100px;
  height:60px;
}
#u34845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34846 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:270px;
  width:100px;
  height:60px;
}
#u34847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34848 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:80px;
  width:100px;
  height:60px;
}
#u34849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34850 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:170px;
  width:100px;
  height:60px;
}
#u34851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34852 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:270px;
  width:100px;
  height:60px;
}
#u34853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34854 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:270px;
  width:100px;
  height:60px;
}
#u34855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34856 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:443px;
  width:100px;
  height:60px;
}
#u34857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34858 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:443px;
  width:100px;
  height:60px;
}
#u34859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34860 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:443px;
  width:100px;
  height:60px;
}
#u34861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34862 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:443px;
  width:100px;
  height:60px;
}
#u34863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34864 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:300px;
  width:0px;
  height:0px;
}
#u34864_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u34864_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34865 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34866 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:300px;
  width:0px;
  height:0px;
}
#u34866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u34866_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34867 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34868 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:330px;
  width:0px;
  height:0px;
}
#u34868_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u34868_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:61px;
}
#u34868_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:49px;
  width:65px;
  height:8px;
}
#u34868_seg3 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg4 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg5 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg6 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg7 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg8 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg9 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg10 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg11 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg12 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg13 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg14 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:49px;
  width:9px;
  height:8px;
}
#u34868_seg15 {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:49px;
  width:179px;
  height:8px;
}
#u34868_seg16 {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:49px;
  width:8px;
  height:64px;
}
#u34868_seg17 {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:100px;
  width:18px;
  height:19px;
}
#u34869 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34870 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:330px;
  width:0px;
  height:0px;
}
#u34870_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u34870_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:61px;
}
#u34870_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:49px;
  width:65px;
  height:8px;
}
#u34870_seg3 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg4 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg5 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg6 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg7 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg8 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg9 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg10 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg11 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg12 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg13 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg14 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:49px;
  width:9px;
  height:8px;
}
#u34870_seg15 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:49px;
  width:29px;
  height:8px;
}
#u34870_seg16 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:49px;
  width:8px;
  height:64px;
}
#u34870_seg17 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:100px;
  width:18px;
  height:19px;
}
#u34871 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34872 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:330px;
  width:0px;
  height:0px;
}
#u34872_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u34872_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:61px;
}
#u34872_seg2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:58px;
  height:8px;
}
#u34872_seg3 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:49px;
  width:8px;
  height:64px;
}
#u34872_seg4 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:100px;
  width:18px;
  height:19px;
}
#u34873 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34874 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:330px;
  width:0px;
  height:0px;
}
#u34874_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u34874_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:61px;
}
#u34874_seg2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:188px;
  height:8px;
}
#u34874_seg3 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:49px;
  width:8px;
  height:64px;
}
#u34874_seg4 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:100px;
  width:18px;
  height:19px;
}
#u34875 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34876 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:300px;
  width:0px;
  height:0px;
}
#u34876_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:30px;
  height:8px;
}
#u34876_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34877 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34878 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:300px;
  width:0px;
  height:0px;
}
#u34878_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-4px;
  width:34px;
  height:8px;
}
#u34878_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34879 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34880 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:230px;
  width:0px;
  height:0px;
}
#u34880_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34880_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:26px;
  width:9px;
  height:8px;
}
#u34880_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:26px;
  width:8px;
  height:14px;
}
#u34880_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:18px;
  height:19px;
}
#u34881 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34882 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:140px;
  width:0px;
  height:0px;
}
#u34882_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u34882_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:108px;
  height:8px;
}
#u34882_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:6px;
  width:8px;
  height:24px;
}
#u34882_seg3 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:17px;
  width:18px;
  height:19px;
}
#u34883 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34884 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:533px;
  width:100px;
  height:60px;
}
#u34885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34886 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:533px;
  width:100px;
  height:60px;
}
#u34887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34888 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:533px;
  width:100px;
  height:60px;
}
#u34889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34890 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:533px;
  width:100px;
  height:60px;
}
#u34891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34892 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:503px;
  width:0px;
  height:0px;
}
#u34892_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34892_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34893 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34894 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:503px;
  width:0px;
  height:0px;
}
#u34894_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34894_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34895 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34896 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:503px;
  width:0px;
  height:0px;
}
#u34896_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34896_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34897 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34898 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:503px;
  width:0px;
  height:0px;
}
#u34898_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34898_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34899 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34900 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:80px;
  width:100px;
  height:60px;
}
#u34901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34902 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:140px;
  width:0px;
  height:0px;
}
#u34902_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u34902_seg1 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:6px;
  width:128px;
  height:8px;
}
#u34902_seg2 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:6px;
  width:8px;
  height:24px;
}
#u34902_seg3 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:17px;
  width:18px;
  height:19px;
}
#u34903 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34904 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:270px;
  width:100px;
  height:60px;
}
#u34905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34906 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:300px;
  width:0px;
  height:0px;
}
#u34906_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-4px;
  width:34px;
  height:8px;
}
#u34906_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34907 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34908 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:270px;
  width:100px;
  height:60px;
}
#u34909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34910 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:300px;
  width:0px;
  height:0px;
}
#u34910_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u34910_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u34911 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34912 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:180px;
  width:100px;
  height:60px;
}
#u34913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34914 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:240px;
  width:0px;
  height:0px;
}
#u34914_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34914_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34915 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34916 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:443px;
  width:100px;
  height:60px;
}
#u34917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u34918 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:533px;
  width:100px;
  height:60px;
}
#u34919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u34920 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:330px;
  width:0px;
  height:0px;
}
#u34920_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u34920_seg1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:61px;
}
#u34920_seg2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:308px;
  height:8px;
}
#u34920_seg3 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:49px;
  width:8px;
  height:64px;
}
#u34920_seg4 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:100px;
  width:18px;
  height:19px;
}
#u34921 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34922 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:503px;
  width:0px;
  height:0px;
}
#u34922_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u34922_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u34923 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
