body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:680px;
  height:108px;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
