body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:172px;
  width:361px;
  height:641px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:38px;
  width:49px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:476px;
  top:172px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:476px;
  top:198px;
  width:314px;
  height:52px;
  line-height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:52px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:476px;
  top:600px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:476px;
  top:700px;
  width:180px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:476px;
  top:270px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:476px;
  top:300px;
  width:820px;
  height:275px;
  line-height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:275px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:476px;
  top:626px;
  width:126px;
  height:54px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:54px;
}
#u17 {
  position:absolute;
  left:2px;
  top:19px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:330px;
  top:180px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
