body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1894px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1894px;
  height:847px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:1894px;
  height:847px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:416px;
  width:1890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:20px;
  width:391px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
