body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:859px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:490px;
  top:10px;
  width:369px;
  height:764px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:517px;
  top:178px;
  width:318px;
  height:491px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:491px;
}
#u3 {
  position:absolute;
  left:2px;
  top:238px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:538px;
  top:237px;
  width:280px;
  height:36px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5 {
  position:absolute;
  left:539px;
  top:329px;
  width:280px;
  height:36px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:539px;
  top:375px;
  width:280px;
  height:36px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:539px;
  top:191px;
  width:280px;
  height:36px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u8 {
  position:absolute;
  left:519px;
  top:143px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:653px;
  top:148px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:525px;
  top:145px;
  width:44px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:21px;
  top:10px;
  width:369px;
  height:764px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:764px;
}
#u15 {
  position:absolute;
  left:2px;
  top:374px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:48px;
  top:175px;
  width:318px;
  height:494px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:494px;
}
#u17 {
  position:absolute;
  left:2px;
  top:239px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:67px;
  top:198px;
  width:284px;
  height:36px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19 {
  position:absolute;
  left:67px;
  top:248px;
  width:180px;
  height:36px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u20 {
  position:absolute;
  left:263px;
  top:249px;
  width:88px;
  height:36px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:539px;
  top:283px;
  width:280px;
  height:36px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:49px;
  top:140px;
  width:319px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:178px;
  top:146px;
  width:69px;
  height:20px;
  font-size:17px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:57px;
  top:142px;
  width:44px;
  height:27px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:329px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:542px;
  top:440px;
  width:273px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
