body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:1590px;
}
#u1486 {
  position:absolute;
  left:465px;
  top:22px;
  width:780px;
  height:1590px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:787px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:50px;
}
#u1488 {
  position:absolute;
  left:495px;
  top:166px;
  width:720px;
  height:50px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:17px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1230px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1490 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:1230px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:607px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px -2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u1492 {
  position:absolute;
  left:496px;
  top:1350px;
  width:720px;
  height:96px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494 {
  position:absolute;
  left:1084px;
  top:1414px;
  width:88px;
  height:25px;
}
#u1494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#0099FF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1496 {
  position:absolute;
  left:744px;
  top:1414px;
  width:48px;
  height:25px;
}
#u1496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1497 {
  position:absolute;
  left:744px;
  top:1369px;
  width:47px;
  height:40px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
}
#u1499 {
  position:absolute;
  left:1107px;
  top:1363px;
  width:40px;
  height:47px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1502 {
  position:absolute;
  left:560px;
  top:1414px;
  width:48px;
  height:25px;
}
#u1502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1503 {
  position:absolute;
  left:558px;
  top:1370px;
  width:50px;
  height:40px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 3px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u1505 {
  position:absolute;
  left:496px;
  top:216px;
  width:720px;
  height:96px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:40px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1508 {
  position:absolute;
  left:861px;
  top:328px;
  width:320px;
  height:96px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1510 {
  position:absolute;
  left:947px;
  top:358px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  position:absolute;
  left:531px;
  top:328px;
  width:320px;
  height:96px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1515 {
  position:absolute;
  left:633px;
  top:358px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1518 {
  position:absolute;
  left:531px;
  top:434px;
  width:320px;
  height:96px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1520 {
  position:absolute;
  left:633px;
  top:464px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1523 {
  position:absolute;
  left:861px;
  top:434px;
  width:320px;
  height:96px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1525 {
  position:absolute;
  left:963px;
  top:464px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:399px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1527 {
  position:absolute;
  left:496px;
  top:548px;
  width:720px;
  height:399px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:192px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:2px;
}
#u1529 {
  position:absolute;
  left:512px;
  top:629px;
  width:691px;
  height:1px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:-8px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u1531 {
  position:absolute;
  left:491px;
  top:622px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1532 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u1533 {
  position:absolute;
  left:1196px;
  top:622px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1534 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535 {
  position:absolute;
  left:531px;
  top:571px;
  width:117px;
  height:37px;
}
#u1535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:2px;
}
#u1536 {
  position:absolute;
  left:512px;
  top:784px;
  width:691px;
  height:1px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1538 {
  position:absolute;
  left:828px;
  top:703px;
  width:60px;
  height:60px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1540 {
  position:absolute;
  left:842px;
  top:717px;
  width:32px;
  height:16px;
}
#u1541 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u1542 {
  position:absolute;
  left:842px;
  top:733px;
  width:32px;
  height:16px;
}
#u1543 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544 {
  position:absolute;
  left:531px;
  top:715px;
  width:85px;
  height:48px;
}
#u1544_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1545 {
  position:absolute;
  left:1096px;
  top:715px;
  width:85px;
  height:48px;
}
#u1545_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:2px;
}
#u1546 {
  position:absolute;
  left:512px;
  top:864px;
  width:691px;
  height:1px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:-8px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548 {
  position:absolute;
  left:531px;
  top:808px;
  width:157px;
  height:37px;
}
#u1548_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1549 {
  position:absolute;
  left:707px;
  top:808px;
  width:173px;
  height:37px;
}
#u1549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1550 {
  position:absolute;
  left:531px;
  top:888px;
  width:205px;
  height:37px;
}
#u1550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u1551 {
  position:absolute;
  left:496px;
  top:946px;
  width:720px;
  height:1px;
}
#u1552 {
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1554 {
  position:absolute;
  left:496px;
  top:946px;
  width:720px;
  height:80px;
}
#u1555 {
  position:absolute;
  left:2px;
  top:32px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556 {
  position:absolute;
  left:828px;
  top:971px;
  width:61px;
  height:37px;
}
#u1556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1557 {
  position:absolute;
  left:1150px;
  top:882px;
  width:48px;
  height:48px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559 {
  position:absolute;
  left:531px;
  top:656px;
  width:69px;
  height:37px;
}
#u1559_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1560 {
  position:absolute;
  left:1112px;
  top:656px;
  width:69px;
  height:37px;
}
#u1560_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u1561 {
  position:absolute;
  left:1081px;
  top:247px;
  width:128px;
  height:40px;
  font-size:28px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u1563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1564 {
  position:absolute;
  left:904px;
  top:1414px;
  width:85px;
  height:25px;
}
#u1564_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u1565 {
  position:absolute;
  left:923px;
  top:1367px;
  width:47px;
  height:44px;
}
#u1566 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1567 {
  position:absolute;
  left:510px;
  top:234px;
  width:60px;
  height:60px;
}
#u1568 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569 {
  position:absolute;
  left:1068px;
  top:884px;
  width:130px;
  height:46px;
  overflow:hidden;
}
#u1569_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1569_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.407843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u1571 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1572 {
  position:absolute;
  left:0px;
  top:1px;
  width:130px;
  height:45px;
}
#u1573 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1574 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1575 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
