body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2589px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u19489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19491 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:15px;
  width:33px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u19493 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:18px;
  height:19px;
}
#u19494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:116px;
}
#u19495 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:229px;
  width:125px;
  height:115px;
}
#u19496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u19497 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:267px;
  width:70px;
  height:70px;
}
#u19498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u19499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19499 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:158px;
  width:183px;
  height:22px;
}
#u19500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u19501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19501 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:190px;
  width:323px;
  height:16px;
}
#u19502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u19503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19503 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:101px;
  width:111px;
  height:37px;
  color:#FF0000;
}
#u19504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u19505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19505 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:73px;
  width:134px;
  height:16px;
}
#u19506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u19507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19507 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:375px;
  width:148px;
  height:20px;
}
#u19508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  white-space:nowrap;
}
#u19509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19509 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:405px;
  width:323px;
  height:112px;
}
#u19510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u19511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u19511 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:241px;
  width:66px;
  height:16px;
  text-align:center;
}
#u19512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19513 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:246px;
  height:25px;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u19515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u19515 {
  border-width:0px;
  position:absolute;
  left:1677px;
  top:2585px;
  width:1px;
  height:50px;
}
#u19516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u19517 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:3111px;
  width:1px;
  height:50px;
}
#u19518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19520 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:715px;
  width:270px;
  height:138px;
}
#u19521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u19522 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:728px;
  width:149px;
  height:29px;
}
#u19523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:145px;
  white-space:nowrap;
}
#u19524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
}
#u19524 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:764px;
  width:185px;
  height:25px;
  color:#AEAEAE;
}
#u19525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  white-space:nowrap;
}
#u19526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19526 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:797px;
  width:270px;
  height:1px;
}
#u19527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u19528 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:818px;
  width:41px;
  height:26px;
  color:#49A9F0;
}
#u19529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u19530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19531 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:1011px;
  width:270px;
  height:138px;
}
#u19532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:26px;
}
#u19533 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:1045px;
  width:187px;
  height:26px;
}
#u19534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u19535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19535 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:1093px;
  width:270px;
  height:1px;
}
#u19536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u19537 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:1114px;
  width:41px;
  height:26px;
  color:#49A9F0;
}
#u19538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u19539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19539 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:719px;
  width:375px;
  height:667px;
}
#u19540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19542 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:969px;
  width:270px;
  height:160px;
}
#u19543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19544 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:978px;
  width:113px;
  height:26px;
}
#u19545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u19546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19546 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1078px;
  width:270px;
  height:1px;
}
#u19547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u19548 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1079px;
  width:1px;
  height:50px;
}
#u19549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19550 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:1091px;
  width:41px;
  height:26px;
}
#u19551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u19552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#49A9F0;
}
#u19552 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1092px;
  width:41px;
  height:26px;
  color:#49A9F0;
}
#u19553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u19554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u19554 {
  border-width:0px;
  position:absolute;
  left:2588px;
  top:952px;
  width:1px;
  height:50px;
}
#u19555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19557 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1027px;
  width:169px;
  height:29px;
}
#u19558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u19559 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1032px;
  width:47px;
  height:21px;
  color:#A1A1A1;
}
#u19560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u19561_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:20px;
}
#u19561 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:1034px;
  width:2px;
  height:17px;
}
#u19562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19564 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:863px;
  width:270px;
  height:138px;
}
#u19565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:26px;
}
#u19566 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:900px;
  width:230px;
  height:26px;
}
#u19567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  white-space:nowrap;
}
#u19568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19568 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:945px;
  width:270px;
  height:1px;
}
#u19569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u19570 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:966px;
  width:41px;
  height:26px;
  color:#49A9F0;
}
#u19571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u19572_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:333px;
  height:136px;
}
#u19572 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:219px;
  width:323px;
  height:126px;
}
#u19573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u19574 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:320px;
  width:323px;
  height:1px;
}
#u19575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u19576 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:323px;
  width:18px;
  height:18px;
}
#u19577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19578 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:324px;
  width:43px;
  height:16px;
  color:#999999;
}
#u19579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19580 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:261px;
  width:234px;
  height:52px;
  color:#999999;
}
#u19581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u19582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19582 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:229px;
  width:244px;
  height:32px;
}
#u19583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u19584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:56px;
}
#u19584 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:229px;
  width:58px;
  height:55px;
}
#u19585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  word-wrap:break-word;
}
#u19587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:719px;
  width:375px;
  height:667px;
}
#u19588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:719px;
  width:375px;
  height:50px;
}
#u19590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19592 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:734px;
  width:33px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u19594 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:734px;
  width:18px;
  height:19px;
}
#u19595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19596 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:731px;
  width:246px;
  height:25px;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u19598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:375px;
  height:61px;
}
#u19599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19600_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:64px;
}
#u19600 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:570px;
  width:2px;
  height:61px;
}
#u19601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19602 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:574px;
  width:71px;
  height:16px;
}
#u19603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19604 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:574px;
  width:85px;
  height:16px;
}
#u19605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#15CBD2;
}
#u19606 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:594px;
  width:37px;
  height:37px;
  color:#15CBD2;
}
#u19607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#15CBD2;
}
#u19608 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:594px;
  width:55px;
  height:37px;
  color:#15CBD2;
}
#u19609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19610 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:539px;
  width:85px;
  height:16px;
}
#u19611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u19612 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:547px;
  width:122px;
  height:1px;
}
#u19613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:2px;
}
#u19614 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:547px;
  width:122px;
  height:1px;
}
#u19615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19616 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:636px;
  width:85px;
  height:16px;
  color:#999999;
}
#u19617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u19618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:798px;
  width:375px;
  height:1px;
}
#u19619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19620 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:774px;
  width:57px;
  height:16px;
  color:#999999;
}
#u19621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19622 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:774px;
  width:57px;
  height:16px;
  color:#999999;
}
#u19623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19624 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:774px;
  width:29px;
  height:16px;
  color:#999999;
}
#u19625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:213px;
}
#u19626 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:840px;
  width:296px;
  height:212px;
}
#u19627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:292px;
  word-wrap:break-word;
}
#u19628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19628 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1071px;
  width:197px;
  height:16px;
  color:#999999;
}
#u19629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u19630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19630 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1116px;
  width:140px;
  height:40px;
}
#u19631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u19633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19633 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:0px;
  width:375px;
  height:667px;
}
#u19634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19635 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:0px;
  width:375px;
  height:50px;
}
#u19636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19638 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:15px;
  width:33px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#15CAD1;
}
#u19639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u19640 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:15px;
  width:18px;
  height:19px;
}
#u19641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19642 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:241px;
  width:332px;
  height:96px;
}
#u19643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u19644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19644 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:12px;
  width:246px;
  height:25px;
  font-size:21px;
  color:#15CAD1;
  text-align:center;
}
#u19645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u19646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19646 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:178px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u19648 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:124px;
  width:48px;
  height:48px;
}
#u19649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:62px;
}
#u19650 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:123px;
  width:273px;
  height:62px;
}
#u19651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19652 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:131px;
  width:239px;
  height:16px;
}
#u19653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u19654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19654 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:387px;
  width:258px;
  height:40px;
}
#u19655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u19656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u19656 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:149px;
  width:99px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u19657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u19658 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:509px;
  width:57px;
  height:57px;
}
#u19659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19660 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:538px;
  width:200px;
  height:28px;
}
#u19661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u19662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19662 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:509px;
  width:43px;
  height:16px;
}
#u19663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19664 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:287px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19664_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:311px;
  height:8px;
}
#u19664_seg1 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:-11px;
  width:23px;
  height:22px;
}
#u19665 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19666 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:385px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19666_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:454px;
  height:8px;
}
#u19666_seg1 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-4px;
  width:8px;
  height:338px;
}
#u19666_seg2 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:316px;
  width:22px;
  height:23px;
}
#u19667 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19668 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:652px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19668_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u19668_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:61px;
  width:22px;
  height:23px;
}
#u19669 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19670 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:282px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19670_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u19670_seg1 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-11px;
  width:23px;
  height:22px;
}
#u19671 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19673 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:1159px;
  width:270px;
  height:138px;
}
#u19674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:29px;
}
#u19675 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:1192px;
  width:167px;
  height:29px;
}
#u19676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  white-space:nowrap;
}
#u19677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u19677 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:1241px;
  width:270px;
  height:1px;
}
#u19678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u19679 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:1262px;
  width:41px;
  height:26px;
  color:#49A9F0;
}
#u19680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
