body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-74px;
  width:539px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:53px;
  width:100px;
  height:60px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:162px;
  width:100px;
  height:60px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:270px;
  width:100px;
  height:60px;
  display:flex;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:270px;
  width:100px;
  height:60px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:487px;
  width:100px;
  height:60px;
  display:flex;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:596px;
  width:100px;
  height:60px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:596px;
  width:100px;
  height:60px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:813px;
  width:100px;
  height:60px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:921px;
  width:100px;
  height:60px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:379px;
  width:100px;
  height:60px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:379px;
  width:100px;
  height:60px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:704px;
  width:100px;
  height:60px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:699px;
  width:110px;
  height:70px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:113px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:222px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:330px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:439px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:547px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:656px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:764px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:873px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:626px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:409px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:300px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:734px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:280px;
  width:174px;
  height:41px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:389px;
  width:174px;
  height:41px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:606px;
  width:174px;
  height:41px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
