body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:172px;
  width:361px;
  height:642px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:642px;
}
#u1 {
  position:absolute;
  left:2px;
  top:313px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:497px;
  top:172px;
  width:140px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:497px;
  top:214px;
  width:283px;
  height:187px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:187px;
}
#u5 {
  position:absolute;
  left:2px;
  top:86px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:55px;
  top:38px;
  width:49px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:497px;
  top:420px;
  width:383px;
  height:125px;
  line-height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:125px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:346px;
  top:197px;
  width:29px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:360px;
  top:773px;
  width:34px;
  height:39px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:295px;
  top:771px;
  width:24px;
  height:27px;
  font-size:8px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:293px;
  top:800px;
  width:30px;
  height:12px;
  font-size:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:351px;
  top:208px;
  width:29px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:130px;
  top:193px;
  width:212px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:381px;
  top:192px;
  width:30px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:346px;
  top:194px;
  width:30px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:60px;
  top:236px;
  width:315px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:130px;
  top:610px;
  width:210px;
  height:150px;
  opacity:0.600000023841858;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:150px;
}
#u25 {
  position:absolute;
  left:2px;
  top:67px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:275px;
  width:351px;
  height:325px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:362px;
  top:772px;
  width:34px;
  height:39px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:39px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:296px;
  top:770px;
  width:24px;
  height:27px;
  font-size:8px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:20px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:294px;
  top:799px;
  width:30px;
  height:12px;
  font-size:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:72px;
  top:770px;
  width:40px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:288px;
  top:770px;
  width:40px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:358px;
  top:772px;
  width:40px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:206px;
  top:749px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
