body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4490 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u4491 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:790px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4493 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:790px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:387px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:659px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4495 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:659px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:322px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4497 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u4498 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4499 {
  position:absolute;
  left:204px;
  top:854px;
  width:168px;
  height:10px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4501 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4502 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u4503 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u4504 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u4505 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u4508 {
  position:absolute;
  left:108px;
  top:196px;
  width:360px;
  height:56px;
}
#u4509 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u4510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4510 {
  position:absolute;
  left:108px;
  top:204px;
  width:40px;
  height:40px;
}
#u4511 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4512 {
  position:absolute;
  left:148px;
  top:214px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4513 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4514 {
  position:absolute;
  left:108px;
  top:196px;
  width:104px;
  height:56px;
}
#u4514_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4514.mouseDown {
}
#u4515 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4516 {
  position:absolute;
  left:207px;
  top:274px;
  width:163px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4517 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u4518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u4518 {
  position:absolute;
  left:138px;
  top:331px;
  width:94px;
  height:31px;
}
#u4519 {
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u4520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u4520 {
  position:absolute;
  left:332px;
  top:331px;
  width:94px;
  height:31px;
}
#u4521 {
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u4522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4522 {
  position:absolute;
  left:129px;
  top:373px;
  width:318px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u4523 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u4524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:65px;
}
#u4524 {
  position:absolute;
  left:138px;
  top:405px;
  width:300px;
  height:64px;
}
#u4525 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u4526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4526 {
  position:absolute;
  left:218px;
  top:482px;
  width:140px;
  height:40px;
}
#u4527 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:182px;
}
#u4528 {
  position:absolute;
  left:121px;
  top:544px;
  width:334px;
  height:181px;
}
#u4529 {
  position:absolute;
  left:2px;
  top:58px;
  width:330px;
  word-wrap:break-word;
}
