body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u663 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u667 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u668 {
  position:absolute;
  left:10px;
  top:7px;
  width:360px;
  height:11px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:0px;
  top:117px;
  width:375px;
  height:259px;
}
#u671 {
  position:absolute;
  left:2px;
  top:122px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:0px;
  top:376px;
  width:374px;
  height:45px;
}
#u674 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:10px;
  top:390px;
  width:74px;
  height:21px;
}
#u676 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u677 {
  position:absolute;
  left:23px;
  top:376px;
  width:347px;
  height:1px;
}
#u678 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u679 {
  position:absolute;
  left:23px;
  top:420px;
  width:347px;
  height:1px;
}
#u680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u681 {
  position:absolute;
  left:0px;
  top:420px;
  width:370px;
  height:1px;
}
#u682 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u683 {
  position:absolute;
  left:0px;
  top:376px;
  width:374px;
  height:1px;
}
#u684 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u685 {
  position:absolute;
  left:200px;
  top:390px;
  width:153px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u686 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:0px;
  top:420px;
  width:374px;
  height:45px;
}
#u689 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:10px;
  top:434px;
  width:139px;
  height:21px;
}
#u691 {
  position:absolute;
  left:2px;
  top:2px;
  width:135px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u692 {
  position:absolute;
  left:23px;
  top:420px;
  width:347px;
  height:1px;
}
#u693 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u694 {
  position:absolute;
  left:23px;
  top:464px;
  width:347px;
  height:1px;
}
#u695 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u696 {
  position:absolute;
  left:0px;
  top:464px;
  width:370px;
  height:1px;
}
#u697 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u698 {
  position:absolute;
  left:0px;
  top:420px;
  width:374px;
  height:1px;
}
#u699 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u700 {
  position:absolute;
  left:199px;
  top:433px;
  width:153px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:0px;
  top:464px;
  width:374px;
  height:45px;
}
#u704 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:10px;
  top:481px;
  width:74px;
  height:21px;
}
#u706 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u707 {
  position:absolute;
  left:23px;
  top:464px;
  width:347px;
  height:1px;
}
#u708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u709 {
  position:absolute;
  left:23px;
  top:508px;
  width:347px;
  height:1px;
}
#u710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u711 {
  position:absolute;
  left:0px;
  top:508px;
  width:370px;
  height:1px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u713 {
  position:absolute;
  left:0px;
  top:464px;
  width:374px;
  height:1px;
}
#u714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u715 {
  position:absolute;
  left:200px;
  top:478px;
  width:153px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u716 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:0px;
  top:508px;
  width:374px;
  height:71px;
}
#u720 {
  position:absolute;
  left:2px;
  top:28px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:10px;
  top:522px;
  width:74px;
  height:21px;
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u724 {
  position:absolute;
  left:64px;
  top:555px;
  width:80px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u725 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u726 {
  position:absolute;
  left:97px;
  top:526px;
  width:26px;
  height:24px;
}
#u727 {
  position:absolute;
  left:10px;
  top:10px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u729 {
  position:absolute;
  left:177px;
  top:555px;
  width:80px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u730 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u731 {
  position:absolute;
  left:210px;
  top:526px;
  width:26px;
  height:24px;
}
#u732 {
  position:absolute;
  left:10px;
  top:10px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u734 {
  position:absolute;
  left:290px;
  top:555px;
  width:80px;
  height:18px;
  color:#999999;
  text-align:right;
}
#u735 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u736 {
  position:absolute;
  left:323px;
  top:526px;
  width:26px;
  height:24px;
}
#u737 {
  position:absolute;
  left:10px;
  top:10px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u738 {
  position:absolute;
  left:23px;
  top:621px;
  width:347px;
  height:1px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u740 {
  position:absolute;
  left:0px;
  top:621px;
  width:370px;
  height:1px;
}
#u741 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC33;
  text-align:center;
}
#u742 {
  position:absolute;
  left:37px;
  top:156px;
  width:276px;
  height:21px;
  color:#00CC33;
  text-align:center;
}
#u743 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u744 {
  position:absolute;
  left:139px;
  top:79px;
  width:71px;
  height:65px;
}
#u745 {
  position:absolute;
  left:2px;
  top:24px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u746 {
  position:absolute;
  left:149px;
  top:89px;
  width:50px;
  height:46px;
}
#u747 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:0px;
  top:621px;
  width:374px;
  height:46px;
}
#u750 {
  position:absolute;
  left:2px;
  top:15px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC33;
  text-align:center;
}
#u751 {
  position:absolute;
  left:139px;
  top:633px;
  width:74px;
  height:24px;
  color:#00CC33;
  text-align:center;
}
#u752 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u753 {
  position:absolute;
  left:23px;
  top:621px;
  width:347px;
  height:1px;
}
#u754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u755 {
  position:absolute;
  left:23px;
  top:666px;
  width:347px;
  height:1px;
}
#u756 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u757 {
  position:absolute;
  left:0px;
  top:666px;
  width:370px;
  height:1px;
}
#u758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u759 {
  position:absolute;
  left:0px;
  top:621px;
  width:374px;
  height:1px;
}
#u760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u761 {
  position:absolute;
  left:12px;
  top:181px;
  width:350px;
  height:1px;
}
#u762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:170px;
}
#u763 {
  position:absolute;
  left:14px;
  top:192px;
  width:346px;
  height:170px;
}
#u764 {
  position:absolute;
  left:2px;
  top:77px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
