body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1512px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:534px;
}
#u1963 {
  position:absolute;
  left:136px;
  top:142px;
  width:1056px;
  height:534px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:259px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  position:absolute;
  left:1096px;
  top:439px;
  width:126px;
  height:126px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:55px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u1968 {
  position:absolute;
  left:1140px;
  top:420px;
  width:39px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u1970 {
  position:absolute;
  left:1110px;
  top:453px;
  width:99px;
  height:99px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:2px;
}
#u1972 {
  position:absolute;
  left:1140px;
  top:439px;
  width:39px;
  height:1px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:2px;
}
#u1974 {
  position:absolute;
  left:1232px;
  top:502px;
  width:74px;
  height:1px;
  color:#FFFFFF;
}
#u1975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:68px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1976 {
  position:absolute;
  left:1306px;
  top:465px;
  width:206px;
  height:68px;
  color:#FFFFFF;
}
#u1977 {
  position:absolute;
  left:10px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
