body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:55px;
  top:172px;
  width:361px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:545px;
  top:332px;
  width:640px;
  height:108px;
  line-height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:108px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:545px;
  top:250px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:545px;
  top:450px;
  width:356px;
  height:51px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:352px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:545px;
  top:525px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:545px;
  top:664px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:545px;
  top:690px;
  width:65px;
  height:62px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:62px;
}
#u13 {
  position:absolute;
  left:2px;
  top:23px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:560px;
  top:883px;
  width:190px;
  height:59px;
  line-height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:59px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:545px;
  top:942px;
  width:335px;
  height:46px;
  color:#000000;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:46px;
}
#u17 {
  position:absolute;
  left:2px;
  top:15px;
  width:331px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:55px;
  top:38px;
  width:49px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:545px;
  top:276px;
  width:219px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:545px;
  top:172px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:545px;
  top:203px;
  width:140px;
  height:30px;
  color:#1E1E1E;
  line-height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:545px;
  top:551px;
  width:29px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:545px;
  top:602px;
  width:415px;
  height:52px;
  line-height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:52px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:633px;
  top:690px;
  width:67px;
  height:62px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:62px;
}
#u31 {
  position:absolute;
  left:2px;
  top:23px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:641px;
  top:695px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:674px;
  top:691px;
  width:26px;
  height:26px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:700px;
  top:704px;
  width:120px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u37 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:820px;
  top:677px;
  width:330px;
  height:75px;
  line-height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:75px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:568px;
  top:722px;
  width:-20px;
  height:180px;
}
#u40_seg0 {
  position:absolute;
  left:-68px;
  top:-10px;
  width:72px;
  height:20px;
}
#u40_seg1 {
  position:absolute;
  left:-68px;
  top:-10px;
  width:20px;
  height:200px;
}
#u40_seg2 {
  position:absolute;
  left:-68px;
  top:170px;
  width:52px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-108px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
