body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1587px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u68 {
  position:absolute;
  left:616px;
  top:85px;
  width:431px;
  height:880px;
}
#u69 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u70 {
  position:absolute;
  left:641px;
  top:187px;
  width:380px;
  height:676px;
}
#u71 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u72 {
  position:absolute;
  left:100px;
  top:1036px;
  width:431px;
  height:880px;
}
#u73 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u74 {
  position:absolute;
  left:125px;
  top:1136px;
  width:380px;
  height:676px;
}
#u75 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u76 {
  position:absolute;
  left:1156px;
  top:85px;
  width:431px;
  height:880px;
}
#u77 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u78 {
  position:absolute;
  left:1181px;
  top:185px;
  width:380px;
  height:676px;
}
#u79 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
  background:inherit;
  background-color:rgba(33, 150, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 150, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:394px;
  top:1160px;
  width:111px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u82 {
  position:absolute;
  left:105px;
  top:85px;
  width:431px;
  height:880px;
}
#u83 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u84 {
  position:absolute;
  left:130px;
  top:185px;
  width:380px;
  height:676px;
}
#u85 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#DBF7FD;
}
#u86 {
  position:absolute;
  left:944px;
  top:218px;
  width:61px;
  height:21px;
  font-size:15px;
  color:#DBF7FD;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#91999E;
  text-align:right;
}
#u88 {
  position:absolute;
  left:1414px;
  top:316px;
  width:132px;
  height:21px;
  font-size:15px;
  color:#91999E;
  text-align:right;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#636D75;
}
#u90 {
  position:absolute;
  left:1197px;
  top:316px;
  width:88px;
  height:21px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#636D75;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:456px;
  top:421px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u92_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:128px;
  height:8px;
}
#u92_seg2 {
  position:absolute;
  left:116px;
  top:-197px;
  width:8px;
  height:202px;
}
#u92_seg3 {
  position:absolute;
  left:116px;
  top:-197px;
  width:53px;
  height:8px;
}
#u92_seg4 {
  position:absolute;
  left:156px;
  top:-203px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:70px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1005px;
  top:229px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u94_seg1 {
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:304px;
}
#u94_seg2 {
  position:absolute;
  left:92px;
  top:292px;
  width:59px;
  height:8px;
}
#u94_seg3 {
  position:absolute;
  left:138px;
  top:286px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:46px;
  top:120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u96 {
  position:absolute;
  left:950px;
  top:304px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BABCBD;
  text-align:right;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#91999E;
  text-align:right;
}
#u98 {
  position:absolute;
  left:930px;
  top:342px;
  width:60px;
  height:21px;
  font-size:15px;
  color:#91999E;
  text-align:right;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:731px;
  top:428px;
  width:202px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:10px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:1270px;
  top:516px;
  width:202px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u103 {
  position:absolute;
  left:10px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u104 {
  position:absolute;
  left:291px;
  top:360px;
  width:202px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105 {
  position:absolute;
  left:10px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
