body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1754 {
  position:absolute;
  left:54px;
  top:70px;
  width:273px;
  height:458px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1756 {
  position:absolute;
  left:54px;
  top:70px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u1758 {
  position:absolute;
  left:59px;
  top:80px;
  width:40px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1760 {
  position:absolute;
  left:54px;
  top:105px;
  width:273px;
  height:51px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:54px;
  top:155px;
  width:273px;
  height:77px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:30px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u1765 {
  position:absolute;
  left:67px;
  top:166px;
  width:61px;
  height:49px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1767 {
  position:absolute;
  left:151px;
  top:167px;
  width:71px;
  height:20px;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1769 {
  position:absolute;
  left:151px;
  top:195px;
  width:37px;
  height:20px;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1772 {
  position:absolute;
  left:54px;
  top:235px;
  width:273px;
  height:77px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:30px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u1774 {
  position:absolute;
  left:67px;
  top:246px;
  width:61px;
  height:49px;
}
#u1775 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1776 {
  position:absolute;
  left:151px;
  top:247px;
  width:69px;
  height:20px;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1778 {
  position:absolute;
  left:151px;
  top:275px;
  width:37px;
  height:20px;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:54px;
  top:311px;
  width:273px;
  height:57px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:20px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1782 {
  position:absolute;
  left:67px;
  top:322px;
  width:92px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1784 {
  position:absolute;
  left:60px;
  top:112px;
  width:259px;
  height:32px;
  font-size:11px;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
}
#u1786 {
  position:absolute;
  left:54px;
  top:367px;
  width:273px;
  height:92px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
}
#u1787 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  word-wrap:break-word;
}
#u1788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1788 {
  position:absolute;
  left:67px;
  top:375px;
  width:191px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1789 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u1790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:458px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1790 {
  position:absolute;
  left:361px;
  top:70px;
  width:273px;
  height:458px;
}
#u1791 {
  position:absolute;
  left:2px;
  top:221px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1792 {
  position:absolute;
  left:361px;
  top:70px;
  width:273px;
  height:35px;
  font-size:12px;
}
#u1793 {
  position:absolute;
  left:2px;
  top:9px;
  width:269px;
  word-wrap:break-word;
}
#u1794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u1794 {
  position:absolute;
  left:366px;
  top:80px;
  width:40px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u1795 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  position:absolute;
  left:361px;
  top:105px;
  width:273px;
  height:51px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1799 {
  position:absolute;
  left:361px;
  top:155px;
  width:273px;
  height:77px;
}
#u1800 {
  position:absolute;
  left:2px;
  top:30px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u1801 {
  position:absolute;
  left:374px;
  top:166px;
  width:61px;
  height:49px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1803 {
  position:absolute;
  left:458px;
  top:167px;
  width:71px;
  height:20px;
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1805 {
  position:absolute;
  left:458px;
  top:195px;
  width:37px;
  height:20px;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1808 {
  position:absolute;
  left:361px;
  top:235px;
  width:273px;
  height:77px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:30px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u1810 {
  position:absolute;
  left:374px;
  top:246px;
  width:61px;
  height:49px;
}
#u1811 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1812 {
  position:absolute;
  left:458px;
  top:247px;
  width:69px;
  height:20px;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:458px;
  top:275px;
  width:37px;
  height:20px;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1816 {
  position:absolute;
  left:361px;
  top:311px;
  width:273px;
  height:57px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:20px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1818 {
  position:absolute;
  left:374px;
  top:322px;
  width:92px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1820 {
  position:absolute;
  left:367px;
  top:112px;
  width:259px;
  height:32px;
  font-size:11px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u1822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
}
#u1822 {
  position:absolute;
  left:361px;
  top:367px;
  width:273px;
  height:54px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF6666;
}
#u1823 {
  position:absolute;
  left:2px;
  top:17px;
  width:269px;
  word-wrap:break-word;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1824 {
  position:absolute;
  left:374px;
  top:375px;
  width:191px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1826 {
  position:absolute;
  left:155px;
  top:37px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1828 {
  position:absolute;
  left:468px;
  top:42px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1830_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:45px;
}
#u1830 {
  position:absolute;
  left:54px;
  top:550px;
  width:26px;
  height:35px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1832 {
  position:absolute;
  left:90px;
  top:554px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:45px;
}
#u1834 {
  position:absolute;
  left:260px;
  top:386px;
  width:26px;
  height:35px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:36px;
  height:45px;
}
#u1836 {
  position:absolute;
  left:54px;
  top:595px;
  width:26px;
  height:35px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1838 {
  position:absolute;
  left:90px;
  top:599px;
  width:300px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:90px;
  top:675px;
  width:149px;
  height:114px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:49px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1842 {
  position:absolute;
  left:109px;
  top:720px;
  width:111px;
  height:17px;
  font-size:12px;
}
#u1843 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1844 {
  position:absolute;
  left:147px;
  top:684px;
  width:36px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1846 {
  position:absolute;
  left:90px;
  top:756px;
  width:76px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1848 {
  position:absolute;
  left:166px;
  top:756px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1849 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
