body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-150px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:45px;
  width:1300px;
  height:800px;
  display:flex;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:70px;
  width:131px;
  height:27px;
  display:flex;
  color:#169BD5;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:68px;
  width:156px;
  height:29px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208.disabled {
}
.u208_input_option {
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:118px;
  width:1199px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.00341130879387642deg);
  -moz-transform:rotate(0.00341130879387642deg);
  -ms-transform:rotate(0.00341130879387642deg);
  transform:rotate(0.00341130879387642deg);
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:393px;
  width:409px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:488px;
  width:224px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:749px;
  width:409px;
  height:47px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:488px;
  width:144px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:300px;
  width:261px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:581px;
  width:409px;
  height:52px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:208px;
  width:246px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:666px;
  width:409px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:208px;
  width:262px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:234px;
  width:1px;
  height:16px;
  display:flex;
}
#u219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:300px;
  width:261px;
  height:52px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
  text-align:left;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
