body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u595 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:80px;
}
#u596 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u597 {
  position:absolute;
  left:100px;
  top:19px;
  width:515px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u598 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  word-wrap:break-word;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u600 {
  position:absolute;
  left:10px;
  top:640px;
  width:1200px;
  height:80px;
}
#u601 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u602 {
  position:absolute;
  left:420px;
  top:645px;
  width:381px;
  height:70px;
  font-size:14px;
  text-align:center;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:550px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u604 {
  position:absolute;
  left:10px;
  top:90px;
  width:150px;
  height:550px;
}
#u605 {
  position:absolute;
  left:2px;
  top:267px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u606 {
  position:absolute;
  left:2px;
  top:100px;
  width:166px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u608 {
  position:absolute;
  left:10px;
  top:212px;
  width:150px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u609 {
  position:absolute;
  left:2px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u610 {
  position:absolute;
  left:10px;
  top:312px;
  width:150px;
  height:90px;
  font-size:24px;
  color:#FFFFFF;
}
#u611 {
  position:absolute;
  left:2px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
}
#u612 {
  position:absolute;
  left:10px;
  top:412px;
  width:150px;
  height:90px;
  font-size:24px;
  color:#FFFFFF;
}
#u613 {
  position:absolute;
  left:2px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u614 {
  position:absolute;
  left:1100px;
  top:20px;
  width:60px;
  height:60px;
}
#u615 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
