body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:172px;
  width:361px;
  height:189px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:189px;
}
#u1 {
  position:absolute;
  left:2px;
  top:86px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:55px;
  top:38px;
  width:49px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:457px;
  top:172px;
  width:140px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:457px;
  top:213px;
  width:353px;
  height:105px;
  color:#FF0000;
  line-height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:105px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:747px;
  top:2687px;
  width:156px;
  height:24px;
  color:#BCBCBC;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:744px;
  top:5610px;
  width:156px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:64px;
  top:195px;
  width:30px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:54px;
  top:242px;
  width:361px;
  height:767px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:767px;
}
#u14 {
  position:absolute;
  left:2px;
  top:376px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:360px;
  top:196px;
  width:47px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:80px;
  top:963px;
  width:156px;
  height:24px;
  color:#BCBCBC;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:152px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:255px;
  top:953px;
  width:85px;
  height:39px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:226px;
  top:952px;
  width:29px;
  height:41px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:255px;
  top:953px;
  width:36px;
  height:39px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:296px;
  top:959px;
  width:32px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:312px;
  top:959px;
  width:21px;
  height:14px;
  font-size:8px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
