body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:773px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:423px;
}
#u1540 {
  position:absolute;
  left:37px;
  top:26px;
  width:736px;
  height:423px;
}
#u1541 {
  position:absolute;
  left:2px;
  top:204px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
