body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:81px;
}
#u21914 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:20px;
  width:477px;
  height:80px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u21915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u21916 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:101px;
  width:740px;
  height:1199px;
}
#u21917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u21917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
  text-align:left;
}
#u21918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u21919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:42px;
}
#u21919 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:591px;
  height:41px;
  text-align:right;
}
#u21920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u21921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:144px;
  height:43px;
  text-align:left;
}
#u21922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u21923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:44px;
}
#u21923 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:41px;
  width:591px;
  height:43px;
  text-align:left;
}
#u21924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u21925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:144px;
  height:42px;
  text-align:left;
}
#u21926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:140px;
  word-wrap:break-word;
}
#u21927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:43px;
}
#u21927 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:84px;
  width:591px;
  height:42px;
  text-align:left;
}
#u21928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u21929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:144px;
  height:41px;
  text-align:left;
}
#u21930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u21931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:42px;
}
#u21931 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:126px;
  width:591px;
  height:41px;
  text-align:left;
}
#u21932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:110px;
}
#u21933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:144px;
  height:109px;
  text-align:left;
}
#u21934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:140px;
  word-wrap:break-word;
}
#u21935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:110px;
}
#u21935 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:167px;
  width:591px;
  height:109px;
  text-align:left;
}
#u21936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:587px;
  word-wrap:break-word;
}
#u21937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:133px;
}
#u21937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:144px;
  height:132px;
  text-align:left;
}
#u21938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:140px;
  word-wrap:break-word;
}
#u21939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:133px;
}
#u21939 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:276px;
  width:591px;
  height:132px;
  text-align:left;
}
#u21940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:587px;
  word-wrap:break-word;
}
#u21941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:133px;
}
#u21941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:144px;
  height:132px;
  text-align:left;
}
#u21942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:140px;
  word-wrap:break-word;
}
#u21943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:133px;
}
#u21943 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:408px;
  width:591px;
  height:132px;
  text-align:left;
}
#u21944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:119px;
}
#u21945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:144px;
  height:118px;
  text-align:left;
}
#u21946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:140px;
  word-wrap:break-word;
}
#u21947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:119px;
}
#u21947 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:540px;
  width:591px;
  height:118px;
  text-align:left;
}
#u21948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:587px;
  word-wrap:break-word;
}
#u21949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:213px;
}
#u21949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:658px;
  width:144px;
  height:212px;
  text-align:left;
}
#u21950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:140px;
  word-wrap:break-word;
}
#u21951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:213px;
}
#u21951 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:658px;
  width:591px;
  height:212px;
  text-align:left;
}
#u21952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:587px;
  word-wrap:break-word;
}
#u21953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:197px;
}
#u21953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:870px;
  width:144px;
  height:196px;
  text-align:left;
}
#u21954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:140px;
  word-wrap:break-word;
}
#u21955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:197px;
}
#u21955 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:870px;
  width:591px;
  height:196px;
  text-align:left;
}
#u21956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:587px;
  word-wrap:break-word;
}
#u21957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:129px;
}
#u21957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1066px;
  width:144px;
  height:128px;
  text-align:left;
}
#u21958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:140px;
  word-wrap:break-word;
}
#u21959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:129px;
}
#u21959 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1066px;
  width:591px;
  height:128px;
  text-align:left;
}
#u21960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:587px;
  word-wrap:break-word;
}
#u21961 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:110px;
  width:510px;
  height:25px;
}
#u21961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21962 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:151px;
  width:510px;
  height:25px;
}
#u21962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21963 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:192px;
  width:510px;
  height:25px;
}
#u21963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:2px;
}
#u21964 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:337px;
  width:591px;
  height:1px;
}
#u21965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21966 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:277px;
  width:510px;
  height:50px;
}
#u21966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21967 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:241px;
  width:100px;
  height:16px;
}
#u21968 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21967_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21969 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:241px;
  width:100px;
  height:16px;
}
#u21970 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21969_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21971 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:348px;
  width:445px;
  height:25px;
}
#u21971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21972 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:482px;
  width:140px;
  height:25px;
}
#u21972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21973 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:482px;
  width:130px;
  height:25px;
}
#u21973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21974 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:482px;
  width:100px;
  height:25px;
}
#u21974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21975 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:397px;
  width:510px;
  height:75px;
}
#u21975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21976 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:650px;
  width:510px;
  height:75px;
}
#u21976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21977 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:730px;
  width:100px;
  height:25px;
}
#u21977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21978 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:730px;
  width:140px;
  height:25px;
}
#u21978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:2px;
}
#u21979 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:809px;
  width:591px;
  height:1px;
}
#u21980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21981 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:778px;
  width:100px;
  height:16px;
}
#u21982 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21981_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21983 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:778px;
  width:100px;
  height:16px;
}
#u21984 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21983_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21985 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:944px;
  width:100px;
  height:25px;
}
#u21985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21986 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:944px;
  width:140px;
  height:25px;
}
#u21986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21987 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:850px;
  width:510px;
  height:84px;
}
#u21987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21988 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:979px;
  width:100px;
  height:16px;
}
#u21989 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21988_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21990 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:979px;
  width:100px;
  height:16px;
}
#u21991 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21990_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21992 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:1140px;
  width:100px;
  height:25px;
}
#u21992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21993 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1140px;
  width:110px;
  height:25px;
}
#u21993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21994 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1140px;
  width:130px;
  height:25px;
}
#u21994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21995 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1046px;
  width:510px;
  height:84px;
}
#u21995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21996 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1175px;
  width:510px;
  height:84px;
}
#u21996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21997 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:1266px;
  width:100px;
  height:25px;
}
#u21997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21998 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1266px;
  width:110px;
  height:25px;
}
#u21998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21999 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:238px;
  width:140px;
  height:22px;
}
#u21999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21999_input:disabled {
  color:grayText;
}
#u22000 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:239px;
  width:142px;
  height:22px;
}
#u22000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22000_input:disabled {
  color:grayText;
}
#u22001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u22001 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:1313px;
  width:105px;
  height:25px;
}
#u22002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u22003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
}
#u22003 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:1313px;
  width:105px;
  height:25px;
}
#u22004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u22005 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:517px;
  width:510px;
  height:113px;
}
#u22005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22006 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:730px;
  width:90px;
  height:25px;
}
#u22006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
