body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:389px;
}
#u3687 {
  position:absolute;
  left:10px;
  top:57px;
  width:968px;
  height:389px;
}
#u3688 {
  position:absolute;
  left:2px;
  top:186px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:47px;
}
#u3689 {
  position:absolute;
  left:10px;
  top:10px;
  width:191px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8);
  text-align:center;
  line-height:24px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:47px;
}
#u3691 {
  position:absolute;
  left:10px;
  top:495px;
  width:191px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8);
  text-align:center;
  line-height:24px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u3693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:389px;
}
#u3693 {
  position:absolute;
  left:10px;
  top:542px;
  width:864px;
  height:389px;
}
#u3694 {
  position:absolute;
  left:2px;
  top:186px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:47px;
}
#u3695 {
  position:absolute;
  left:10px;
  top:980px;
  width:191px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8);
  text-align:center;
  line-height:24px;
}
#u3696 {
  position:absolute;
  left:0px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:286px;
}
#u3697 {
  position:absolute;
  left:10px;
  top:2636px;
  width:708px;
  height:286px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:135px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:47px;
}
#u3699 {
  position:absolute;
  left:10px;
  top:2584px;
  width:191px;
  height:46px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8);
  text-align:center;
  line-height:24px;
}
#u3700 {
  position:absolute;
  left:0px;
  top:11px;
  width:191px;
  word-wrap:break-word;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:138px;
}
#u3702 {
  position:absolute;
  left:10px;
  top:1746px;
  width:538px;
  height:137px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:28px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:60px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:56px;
}
#u3704 {
  position:absolute;
  left:10px;
  top:1691px;
  width:538px;
  height:55px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u3705 {
  position:absolute;
  left:2px;
  top:14px;
  width:534px;
  word-wrap:break-word;
}
#u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u3706 {
  position:absolute;
  left:512px;
  top:1706px;
  width:14px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:56px;
}
#u3708 {
  position:absolute;
  left:10px;
  top:1883px;
  width:538px;
  height:55px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:20px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3710 {
  position:absolute;
  left:167px;
  top:1894px;
  width:72px;
  height:34px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3711 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u3712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u3712 {
  position:absolute;
  left:256px;
  top:1894px;
  width:71px;
  height:34px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3713 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u3714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:113px;
}
#u3714 {
  position:absolute;
  left:50px;
  top:1756px;
  width:468px;
  height:112px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u3715 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
#u3716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:265px;
}
#u3716 {
  position:absolute;
  left:10px;
  top:1947px;
  width:594px;
  height:264px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u3718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:90px;
}
#u3719 {
  position:absolute;
  left:10px;
  top:2290px;
  width:342px;
  height:89px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3720 {
  position:absolute;
  left:20px;
  top:10px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:21px;
}
#u3721 {
  position:absolute;
  left:91px;
  top:2322px;
  width:235px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3722 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u3723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3723 {
  position:absolute;
  left:48px;
  top:2322px;
  width:25px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3724 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u3725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:49px;
}
#u3725 {
  position:absolute;
  left:10px;
  top:2241px;
  width:594px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u3726 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u3727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:121px;
}
#u3727 {
  position:absolute;
  left:10px;
  top:2389px;
  width:594px;
  height:120px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u3728 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u3729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:570px;
}
#u3729 {
  position:absolute;
  left:10px;
  top:1031px;
  width:884px;
  height:570px;
}
#u3730 {
  position:absolute;
  left:2px;
  top:277px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:49px;
}
#u3731 {
  position:absolute;
  left:10px;
  top:1624px;
  width:594px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
